
body {
    overflow-x: hidden;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #144D70;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #144D70;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #3E8CC6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Hind",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #144D70;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #144D70;
    font-family: "Hind",Helvetica,Arial,sans-serif;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #3E8CC6;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #144D70;
    background-color: #144D70;
}

.btn-primary .badge {
    color: #144D70;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #144D70;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #144D70;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #3E8CC6;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #144D70;
    background-color: #144D70;
}

.btn-xl .badge {
    color: #144D70;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #144D70;
}

.navbar-default .navbar-brand {
    color: #144D70;
    font-family: "Hind",Helvetica,Arial,sans-serif;
}
.navbar-default.navbar-shrink .navbar-brand {
    color: #fff;
}

.navbar-default.navbar-shrink .navbar-brand:hover,
.navbar-default.navbar-shrink .navbar-brand:focus,
.navbar-default.navbar-shrink .navbar-brand:active,
.navbar-default.navbar-shrink .navbar-brand.active {
    color: #144D70;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #3E8CC6;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #144D70;
    background-color: #144D70;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #144D70;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #3E8CC6;
}

.navbar-default.navbar-shrink .nav li a {
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #144D70;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #144D70;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #2170A0;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #3E8CC6;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #144D70;
    background-attachment: scroll;
    background-image: url(../img/header-bg.png);
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering: crisp-edges;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;  
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.0625em;
    font-weight: 300;
}

header .intro-text .intro-heading {
    font-family: "Hind",Helvetica,Arial,sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.16em;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0.0625em;
        font-weight: 300;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 86px;
        font-weight: 400;
        line-height: 86px;
        letter-spacing: 0.16em;
    }
}

aside.desc-info .container{
    padding: 50px 0;
}

@media(min-width:768px) {
    aside.desc-info .container{
        padding: 75px 0;
    }
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #144D70;
    border-bottom: 2px solid #144D70;
    margin-left: 30%;
    margin-right: 30%;
}

aside.desc-info strong{
    text-transform: uppercase;
    font-weight: 700;
}

aside.desc-info .main{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.0625em;
    color: #144D70;
    line-height: inherit;
}

aside.desc-info .secondary{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.0625em;
    color: #144D70;
    line-height: inherit;
}

@media(min-width:768px) {
    aside.desc-info .main{
        font-size: 24px;
    }

    aside.desc-info .secondary{
        font-size: 18px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    letter-spacing: 0.0625em;
    color: #144D70;
    font-weight: 500;
}

section h3.section-subheading {
    margin-bottom: 24px;
    margin-top: 0;
    font-size: 30px;
    letter-spacing: 0.0625em;
    color: #3E8CC6;
    font-weight: 400;
}

@media(min-width:768px) {
    section h2.section-heading {
        font-size: 40px;
    }

    section h3.section-subheading {
        font-size: 38px;
    }
}

section p{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #3E8CC6;
}
@media(min-width:768px) {
    section p{
        padding: 0% 15%;
    }
}

section .quote{
    margin-bottom: 20px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    color: #3E8CC6;
}

@media(min-width:768px) {
    section {
        padding: 150px 0px;
    }
}

section .side-quote p{
    margin: 0;
    padding-left: 0;
    color: #3E8CC6;
    text-align: left;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 36px;
    margin-bottom: 50px;
}

section .side-quote hr{
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 50%;
    margin-bottom: 36px;
    border: 0;
    border-top: 3px solid #3E8CC6;
    border-bottom: 3px solid #3E8CC6;
}

@media(min-width:768px) {
    section .side-quote hr{
        margin-left: 0%;
        margin-right: 50%;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

/* Bootstrap Carousel Tweaks*/
.carousel-control.left, .carousel-control.right{
  background-image: none;
}
.carousel-control span.glyphicon{
    color: #3E8CC6;
}
.carousel-indicators{
    bottom: -32px;
}
@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: -48px;
    }
}
.carousel-indicators li{
    background-color: #92BAD8;
}
.carousel-indicators li.active{
    background-color: #144D70;
}

/* Center carousel #1*/
.carousel-inner .item img{
    margin-left: 50%;
    /* Translate of half the width of the image */
    transform: translate(-145px, 0px);
}

#granularity-schema{
    padding-top: 0;
}







::-moz-selection {
    text-shadow: none;
    background: #C1F6FF;
}

::selection {
    text-shadow: none;
    background: #C1F6FF;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #C1F6FF;
}