        <div class="topbar topbar-fixed">
          <div class="topbar-project">
            <table>
              <tr>
                <td>
                  <div class="corpus-name">
                    {{corpusName}}
                  </div>
                </td>
                <td>
                  <div class="close-button pull-right">
                    <span class="glyphicon glyphicon-remove" ng-close-corpus></span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="topbar-center" hyphe-status>
          </div>
        </div>
