bin/hyphe-phantomjs*
config/apache2.conf
config/config.json*
config/salt
hyphe-server.lock
*.pyc
pip-log.txt
install.log
archives/
log/
lucene-data/
traph-data/
memory_structure/src/main/java/fr/sciencespo/medialab/hci/memorystructure/thrift/*
memory_structure/target/*
memory_structure/.*
hyphe_backend/crawler/build
hyphe_backend/crawler/config
hyphe_backend/crawler/scrapy.cfg
hyphe_backend/crawler/hcicrawler.egg-info
hyphe_backend/crawler/hcicrawler/settings.py
hyphe_backend/crawler/hcicrawler/urllru.py
hyphe_backend/crawler/hcicrawler/tlds.py
hyphe_backend/crawler/hcicrawler/tlds_tree.py
hyphe_backend/memorystructure
build/
releases/
dependencies/
thrift-0.8.0/

#
# Mac files
#
.DS_Store
