config.json
crawler/build
crawler/scrapy.cfg
crawler/hcicrawler.egg-info
crawler/hcicrawler/settings.py
crawler/hcicrawler/lru.py
*.pyc
core/gen-py.twisted
core/twistd.pid
memory_structure/src/main/java/fr/sciencespo/medialab/hci/memorystructure/thrift/*
memory_structure/target/*

