config/config.json*
twistd.pid
pip-log.txt
*.pyc
hyphe_backend/crawler/build
hyphe_backend/crawler/config
hyphe_backend/crawler/scrapy.cfg
hyphe_backend/crawler/hcicrawler.egg-info
hyphe_backend/crawler/hcicrawler/settings.py
hyphe_backend/crawler/hcicrawler/middlewares.py
hyphe_backend/crawler/hcicrawler/urllru.py
hyphe_backend/memorystructure
memory_structure/src/main/java/fr/sciencespo/medialab/hci/memorystructure/thrift/*
memory_structure/target/*
memory_structure/.*
log/*
