#HYPHE_PROXY_HOST=
#HYPHE_PROXY_PORT=

HYPHE_MAXDEPTH=3
HYPHE_DOWNLOAD_DELAY=0.5
HYPHE_STORE_CRAWLED_HTML=true
HYPHE_MAX_SIM_REQ=24
HYPHE_HOST_MAX_SIM_REQ=1

HYPHE_TRAPH_KEEPALIVE=1800
HYPHE_TRAPH_MAX_SIM_PAGES=250

HYPHE_DEFAULT_CREATION_RULE=domain

#HYPHE_ADMIN_PASSWORD=
#HYPHE_OPEN_CORS_API=false
#HYPHE_DEBUG=0
