# Hyphe settings for the text indexation feature

# HYPHE_ELASTICSEARCH_HOST=localhost
# HYPHE_ELASTICSEARCH_PORT=9200
# HYPHE_ELASTICSEARCH_TIMEOUT_SEC=30
# HYPHE_MONGO_HOST=localhost
# HYPHE_MONGO_PORT=27
# HYPHE_TXT_INDEXATION_NB_INDEXATION_WORKERS=2
# HYPHE_TXT_INDEXATION_UPDATE_WE_FREQ=5
# HYPHE_TXT_INDEXATION_DELETE_INDEX=false
# HYPHE_TXT_INDEXATION_RESET_MONGO=false

HYPHE_TXT_INDEXATION_BATCH_SIZE=1000
