#HYPHE_PROXY_HOST=
#HYPHE_PROXY_PORT=

HYPHE_MAXDEPTH=3
HYPHE_DOWNLOAD_DELAY=0.5
HYPHE_STORE_CRAWLED_HTML=true
HYPHE_MAX_SIM_REQ=24
HYPHE_HOST_MAX_SIM_REQ=1

HYPHE_TRAPH_KEEPALIVE=1800
HYPHE_TRAPH_MAX_SIM_PAGES=250

HYPHE_DEFAULT_STARTPAGES_MODE='["prefixes", "pages-5"]'
HYPHE_DEFAULT_CREATION_RULE=domain
HYPHE_CREATION_RULES='{
    "twitter.com": "path-1",
    "twitter.com/hashtag": "path-2",
    "facebook.com": "path-1",
    "facebook.com/pages": "path-2",
    "plus.google.com": "path-1",
    "linkedin.com": "path-2",
    "viadeo.com/user": "path-2",
    "ello.co": "path-1",
    "pinterest.com": "path-1",
    "over-blog.com": "subdomain",
    "tumblr.com": "subdomain",
    "wordpress.com": "subdomain",
    "vimeo.com/user": "path-2",
    "dailymotion.com/user": "path-2",
    "youtube.com/user": "path-2"
}'
HYPHE_FOLLOW_REDIRECTS='[
    "bit.ly",
    "t.co",
    "tinyurl.com",
    "goo.gl",
    "fb.me",
    "on.fb.me",
    "l.facebook.com",
    "www.facebook.com/l.php",
    "ur1.ca",
    "j.mp",
    "wp.me",
    "ow.ly"
]'

#HYPHE_ADMIN_PASSWORD=
#HYPHE_OPEN_CORS_API=false
#HYPHE_DEBUG=0
