click
pystache
progressbar2
service_identity
virtualenvwrapper
urllib3[secure]
fake-useragent==0.1.11
hyphe-traph>=1.3.2
msgpack-python>=0.3
Scrapy==1.6.0
scrapyd-client==1.2.0a1
selenium==2.42.1
Twisted>=18,<=19
txJSON-RPC==0.5
jsonrpclib
pymongo==3.8
txmongo>=18,<=19
ural==0.30.5
tld==0.12.1
