fake-useragent==0.1.10
hyphe-traph>=1.1.0
msgpack-python>=0.3
pymongo>=3.4
pystache
selenium==2.42.1
service_identity
scrapyd-client==1.2.0a1
Twisted>=18,<=19
txJSON-RPC>=0.5
txmongo>=16.3
urllib3[secure]
virtualenvwrapper

click
jsonrpclib
progressbar2
