    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1>
                  CHECK START PAGES
                </h1>
                <p class="text-info">
                  <span hyphe-glossary>Crawling</span> requires a starting point: check that each <span hyphe-glossary>web entity</span> has a <span hyphe-glossary>start page</span>
                </p>
                <table class="table table-striped table-startpages">
                  <tr
                    ng-repeat="obj in list|paginate:page:paginationLength track by $index"
                    >

                    <td
                      class="td-row-id"
                      >
                      <div class="row-id">{{obj.id+1}}</div>
                    </td>

                    <td
                      class="td-row-content"
                      >
                      <div
                        class="container-fluid row-top"
                        ng-class="{'bg-warning': obj.status == 'merging', 'bg-danger': obj.status == 'error'}"
                        ng-click="obj.collapsed = !obj.collapsed"
                        >
                        <div class="row">
                          <div class="col-md-8 col-lg-6">
                            <div class="title-container">
                              {{obj.webentity.name}}
                            </div>
                          </div>
                          <div class="col-md-3 col-lg-5">
                            <!-- Not loaded -->
                            <div ng-if="obj.status == 'loading' || obj.status == 'pending'" class="text-muted">
                              {{obj.status|titlecase}}
                            </div>

                            <!-- Not loaded -->
                            <div ng-if="obj.status == 'error'" class="text-danger">
                              {{obj.status|titlecase}}
                              <p>{{obj.infoMessage}}</p>
                            </div>

                            <!-- Merging -->
                            <div ng-if="obj.status == 'merging'" class="text-warning">
                              {{obj.status|titlecase}} (please wait)
                            </div>

                            <!-- Loaded -->
                            <div ng-if="obj.status == 'loaded'">
                              <span ng-if="obj.webentity.startpages.length == 0" class="text-danger">No start page</span>
                              <span ng-if="obj.webentity.startpages.length > 0">{{obj.webentity.startpages.length}} start page(s)</span>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="pull-right">
                              <span ng-if="obj.collapsed" class="glyphicon glyphicon-chevron-down"></span>
                              <span ng-if="!obj.collapsed" class="glyphicon glyphicon-chevron-up"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-if="!obj.collapsed" class="bottom-panel">
                        <div class="container-fluid">
                          <div class="row startpage-row" ng-repeat="page in obj.webentity.startpages">
                            <div class="col-md-8  col-lg-6">
                              <span class="url">
                                {{page}}
                              </span>
                              <button
                                class="btn btn-link btn-xs pull-right"
                                ng-click="removeStartPage(page, $parent.obj.id)"
                                ng-disabled="$parent.obj.status!='loaded'"
                              >
                                <span class="glyphicon glyphicon-remove"></span> REMOVE
                              </button>
                            </div>
                            <div class="col-md-4 col-lg-6">
                            </div>
                          </div>

                          <div class="row actions-row">
                            <div class="col-md-8 col-lg-6">

                              <div class="input-group" ng-class="{'has-error':obj.startPageInvalid}">
                                <input
                                  type="url"
                                  id="input{{obj.id}}"
                                  class="form-control input-sm start-page-input"
                                  ng-model="obj.currentStartPageInput"
                                  ng-change="startPageValidate(obj.id)"
                                  ng-press-enter="addStartPage(obj.id)"
                                  ng-disabled="obj.status!='loaded'"
                                  placeholder="Enter or type URL"
                                >
                                <span class="input-group-btn">
                                  <button
                                    type="button"
                                    class="btn btn-default btn-sm"
                                    ng-click="addStartPage(obj.id)"
                                    ng-disabled="obj.status!='loaded'"
                                  >
                                    <span class="glyphicon glyphicon-plus"></span> ADD NEW START PAGE
                                  </button>
                                </span>
                              </div>
                              
                            </div>
                            <div class="col-md-4 col-lg-6">
                              <div class="pull-right">
                                <button type="button" ng-if="obj.webentity.startpages.length > 0" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-repeat"></span> TEST AGAIN</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>

                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
