    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1>
                  CHECK START PAGES
                </h1>
                <p class="text-info">
                  <span hyphe-glossary>Crawling</span> requires a starting point: check that each <span hyphe-glossary>web entity</span> has a <span hyphe-glossary>start page</span>
                </p>
                <table class="table table-striped table-startpages">
                  <tr
                    ng-repeat="obj in list|paginate:page:paginationLength track by $index"
                    ng-click="$parent.activeRow = ($index+paginationLength*page)"
                    >

                    <td class="td-row-id"><div class="row-id">{{obj.id+1}}</div></td>

                    <td class="td-row-content">
                    </td>
                    
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
