    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1>
                  CHECK START PAGES
                </h1>
                <p class="text-info">
                  <span hyphe-glossary>Crawling</span> a <span hyphe-glossary>web entity</span> requires at least one <span hyphe-glossary>start page</span>
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
