<!-- Horizontal Cite version -->
<div class="statuses-box" layout="row" >
    <md-button
        class="btn-citing"
        ng-class="{'md-raised':!types.citing}"
        ng-model="types.citing"
        ng-disabled="disabled"
        ng-click="types.citing = !types.citing"
        md-colors="{'background': (types.citing) ? ('default-background-100-0.5') : ('default-background-50-0.8')}"
        btn-checkbox
    >
        <md-icon ng-if="!types.citing" style="opacity: 0.5">check_box_outline_blank</md-icon>
        <md-icon ng-if="types.citing" class="status-colored">check_box</md-icon>
        <span class="label-status">CITING</span>
        <span class="label-count">{{counts.citing|number}}</span>
    </md-button>

    <md-button
        class="btn-cited"
        ng-class="{'md-raised':!types.cited}"
        ng-model="types.cited"
        ng-disabled="disabled"
        ng-click="types.cited = !types.cited"
        md-colors="{'background': (types.cited) ? ('default-background-100-0.5') : ('default-background-50-0.8')}"
        btn-checkbox
    >
        <md-icon ng-if="!types.cited" style="opacity: 0.5">check_box_outline_blank</md-icon>
        <md-icon ng-if="types.cited" class="status-colored">check_box</md-icon>
        <span class="label-status">CITED</span>
        <span class="label-count">{{counts.cited|number}}</span>
    </md-button>

    <md-button
        class="btn-mutual"
        ng-class="{'md-raised':!types.mutual}"
        ng-model="types.mutual"
        ng-disabled="disabled"
        ng-click="types.mutual = !types.mutual"
        md-colors="{'background': (types.mutual) ? ('default-background-100-0.5') : ('default-background-50-0.8')}"
        btn-checkbox
    >
        <md-icon ng-if="!types.mutual" style="opacity: 0.5">check_box_outline_blank</md-icon>
        <md-icon ng-if="types.mutual" class="status-colored">check_box</md-icon>
        <span class="label-status">MUTUAL</span>
        <span class="label-count">{{counts.mutual|number}}</span>
    </md-button>
</div>
