    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1 class="page-title">DEFINE WEB ENTITIES</h1>
                <p class="text-info">
                  Check boundaries of <span hyphe-glossary>web entities</span> and create them in Hyphe
                </p>
                <table class="table table-striped sliders-table">
                  <tr ng-repeat="obj in urlList|paginate:page:paginationLength track by $index" ng-class="{active: $parent.activeRow == ($index+paginationLength*page) && obj.status=='loaded', danger:obj.status=='error'}" ng-click="$parent.activeRow = ($index+paginationLength*page)" ng-mouseover="$parent.activeRow = ($index+paginationLength*page)">
                    <td class="td-row-id"><div class="row-id">{{obj.id+1}}</div></td>
                    <td class="td-row-content">
                      <div ng-if="obj.status != 'loaded'"><p class="loading-p" ng-class="{'text-muted':obj.status=='loading', 'text-info':obj.status=='pending'}">{{obj.status|titlecase}}</p></div>
                      <div ng-if="obj.status == 'loaded'" hyphe-prefix-slider ng-class="{blurred: $parent.activeRow != ($index+paginationLength*page)}"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <ul class="pagination" ng-if="pages.length > 1">
                    <li ng-class="{disabled: page == 0}"><a ng-click="goToPage(page - 1)" href>&laquo;</a></li>
                    <li ng-repeat="p in pages" ng-class="{active: p == page+1}"><a ng-click="goToPage(p-1)" href>{{p}}<span class="sr-only" ng-if="p == page+1">(current)</span></a></li>
                    <li ng-class="{disabled: page == pages.length - 1}"><a ng-click="goToPage(page + 1)" href>&raquo;</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="text-center">
                  <a class="btn btn-primary">CHECK START PAGES</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
