    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1 class="page-title">DEFINE WEB ENTITIES</h1>
                <p class="text-info">
                  Check definition of each <span hyphe-glossary>web entity</span> then create them
                </p>
                <table class="table table-striped sliders-table">
                  <tr ng-repeat="obj in urlList|paginate:page:paginationLength track by $index" ng-class="{active: $parent.activeRow == ($index+paginationLength*page) && obj.status=='loaded', danger:obj.status=='error'}" ng-click="$parent.activeRow = ($index+paginationLength*page)" ng-mouseover="$parent.activeRow = ($index+paginationLength*page)">
                    <td class="td-row-id"><div class="row-id">{{obj.id+1}}</div></td>
                    <td class="td-row-content">
                      <div ng-if="obj.status != 'loaded'" class="info-content">
                        <p class="loading-p" ng-class="{'text-muted':obj.status=='loading', 'text-info':obj.status=='pending', 'text-success':obj.status=='created'}">
                          <strong>{{obj.status|titlecase}}</strong>
                          <span ng-if="obj.status == 'created' || obj.status == 'existing'">
                            as {{obj.webEntityName}}
                          </span>
                        </p>
                        <p ng-if="obj.status == 'error'">
                          URL: <a ng-href="obj.url">{{obj.url}}</a>
                          <br/>
                          {{obj.infoMessage}}
                        </p>
                      </div>
                      <div ng-if="obj.status == 'loaded'" hyphe-prefix-slider ng-class="{blurred: $parent.activeRow != ($index+paginationLength*page)}"></div>
                      <div ng-if="obj.conflicts.length > 0" class="conflicts">
                        Conflicts with rows <span ng-repeat="r in obj.conflicts">{{r+1}} </span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <ul class="pagination" ng-if="pages.length > 1">
                    <li ng-class="{disabled: page == 0}"><a ng-click="goToPage(page - 1)" href>&laquo;</a></li>
                    <li ng-repeat="p in pages" ng-class="{active: p == page+1}"><a ng-click="goToPage(p-1)" href>{{p}}<span class="sr-only" ng-if="p == page+1">(current)</span></a></li>
                    <li ng-class="{disabled: page == pages.length - 1}"><a ng-click="goToPage(page + 1)" href>&raquo;</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="text-center">
                  <form class="form-inline">
                    <div class="form-group">
                      <div class="checkbox variations-checkbox">
                        <label>
                          <input type="checkbox" ng-model="wwwVariations"> Include <span hyphe-glossary>www variations</span>
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox variations-checkbox">
                        <label>
                          <input type="checkbox" ng-model="httpsVariations"> Include <span hyphe-glossary>https variations</span>
                        </label>
                      </div>
                    </div>
                  </form>
                </div>
                <br/>
                <div class="text-center">
                  <button class="btn btn-primary" ng-click="createWebEntities()">CREATE WEB ENTITIES</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
