    <div class="container-fluid">
      <div class="row no-gutter topbar" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4 sidebar-col" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h1 class="page-title">DEFINE WEB ENTITIES</h1>
                <table class="table table-striped sliders-table">
                  <tr ng-repeat="obj in urlList track by $index" ng-class="{active: $parent.activeRow == $index}" ng-click="$parent.activeRow = $index" ng-mouseover="$parent.activeRow = $index">
                    <td class="td-row-id"><div class="row-id">{{obj.id}}</div></td>
                    <td><div hyphe-prefix-slider ng-class="{blurred: $parent.activeRow != $index}"></div></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-primary center-block">CHECK START PAGES</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
