    <div class="container-fluid">
      <div class="row no-gutter topbar" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4 sidebar-col" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h1 class="page-title">IMPORT URLS</h1>
                <br/>
                <ul class="nav nav-tabs" role="tablist">
                  <li ng-class="{active: parsingOption=='paste_csv'}"><a href="" ng-click="parsingOption='paste_csv'">Paste CSV</a></li>
                  <li ng-class="{active: parsingOption=='paste_tsv'}"><a href="" ng-click="parsingOption='paste_tsv'">Paste TSV</a></li>
                  <li ng-class="{active: parsingOption=='paste_text'}"><a href="" ng-click="parsingOption='paste_text'">Paste text</a></li>
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                      Import file <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="" ng-click="loadFile('CSV')">CSV</a></li>
                      <li><a href="" ng-click="loadFile('TSV')">TSV</a></li>
                      <li><a href="" ng-click="loadFile('text')">Text</a></li>
                    </ul>
                  </li>
                </ul>
                <p class="text-info import-info" ng-show="parsingOption=='paste_csv'">
                  URL addresses are extracted to build {{gloss('web entities')}}. Note: <strong>one URL by line</strong>.
                  <br>
                  Additionnal data like categories, <strong>separated by comma</strong>, are imported.
                </p>
                <p class="text-info import-info" ng-show="parsingOption=='paste_tsv'">
                  URL addresses are extracted to build {{gloss('web entities')}}. Note: <strong>one URL by line</strong>.
                  <br>
                  Additionnal data like categories, <strong>separated by tab</strong>, are imported.
                </p>
                <p class="text-info import-info" ng-show="parsingOption=='paste_text'">
                  URL addresses are <strong>fetched in the full text</strong> to build {{glossary('web entities')}}.
                  <br>
                  There can be any number of URLs per line, but no category or additionnal data is imported.
                </p>
                <textarea id="droppable-text-area" class="form-control" rows="8" placeholder="Paste your data here" ng-class="dropClass">{{dataText}}</textarea>
                <button class="btn btn-primary center-block" id="define-we-button">URLS &nbsp; <span class="glyphicon glyphicon-arrow-right"></span> &nbsp; WEB ENTITIES</button>

                <!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
                <input id="hidden-file-input" type="file" name="hidden-file-input" style="display: none;" onchange="angular.element(this).scope().setFile(this)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
