    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1>
                  NETWORK
                </h1>
                <p class="bg-warning text-danger">
                  Note: This page has not been implemented yet
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <div class="sigma-parent"><div class="sigma-expand" id="sigma-example"></div></div>

              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
