    <div class="container-fluid">
      <div class="row topbar">
        <div class="col-md-2 topbar-project">
          Project
        </div>
        <div class="col-md-3 topbar-spacer">
        </div>
        <div class="col-md-2 topbar-status">
          Status
        </div>
        <div class="col-md-3 topbar-spacer">
        </div>
        <div class="col-md-2 topbar-branding">
          Sciences Po | médialab
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <br/>
          <ul class="nav nav-pills nav-stacked sidebar">
            <li class="active"><a href="#"><span class="symbol">&nbsp;</span>OVERVIEW</a></li>
            <li class="spacer"></li>
            <li><a href="#"><span class="symbol">1</span>IMPORT URLS</a></li>
            <li><a href="#"><span class="symbol">&nbsp;</span>DEFINE WEB ENTITIES</a></li>
            <li><a href="#"><span class="symbol">&nbsp;</span>CHECK STARTING PAGES</a></li>
            <li class="spacer"></li>
            <li><a href="#"><span class="symbol">2</span>LAUNCH CRAWL</a></li>
            <li class="spacer"></li>
            <li><a href="#"><span class="symbol">3</span>FILTER DISCOVERED<br/><span class="symbol">&nbsp;</span>WEB ENTITIES</a></li>
            <li><a href="#"><span class="symbol">4</span>LIST WEB ENTITIES</a></li>
            <li><a href="#"><span class="symbol">5</span>EXPORT WEB ENTITIES</a></li>
            <li class="spacer"></li>
            <li><a href="#"><span class="symbol">&nbsp;</span>MONITOR CRAWL</a></li>
            <li><a href="#"><span class="symbol">&nbsp;</span>PROJECT HISTORY</a></li>
            <li class="spacer"></li>
            <li><a href="#"><span class="symbol">&nbsp;</span>PROJECT SETTINGS</a></li>
          </ul>
        </div>
      </div>

    </div>
