    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/sub/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sub/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1>
                  OVERVIEW
                </h1>
                <p class="bg-warning text-danger">
                  Note: This page has not been implemented yet
                </p>
              </div>
            </div>

            <div class="row status-cells-container">
              
              <div class="col-md-4 col-lg-3 status-cell">
                <div class="status-cell-content">
                  <p class="title">
                    WEB ENTITIES
                  </p>
                  <p class="content">
                    {{status.corpus.memory_structure.webentities.total|none}}
                  </p>
                  <p ng-show="status.corpus.memory_structure.webentities.total" class="content">
                    {{status.corpus.memory_structure.webentities.IN}} IN &mdash; {{status.corpus.memory_structure.webentities.OUT}} OUT
                  </p>
                  <p ng-show="status.corpus.memory_structure.webentities.total" class="content">
                    {{status.corpus.memory_structure.webentities.UNDECIDED}} UNDECIDED
                  </p>
                </div>
              </div>

              <div class="col-md-4 col-lg-3 status-cell">
                <div class="status-cell-content">
                  <p class="title">
                    LAST ACTIVITY
                  </p>
                  <p ng-show="status.corpus.memory_structure.job_running" class="content">
                    Currently: {{status.corpus.memory_structure.job_running}}
                  </p>
                  <p class="content">
                    Last indexation <a href="#" tooltip="{{status.corpus.memory_structure.last_index|date}}">{{status.corpus.memory_structure.last_index|prettyDate}}</a>
                  </p>
                  <p class="content">
                    Last links generation <a href="#" tooltip="{{status.corpus.memory_structure.last_links_generation|date}}">{{status.corpus.memory_structure.last_links_generation|prettyDate}}</a>
                  </p>
                </div>
              </div>

              <div class="col-md-4 col-lg-3 status-cell">
                <div class="status-cell-content">
                  <p class="title">
                    CRAWL JOBS
                  </p>
                  <p class="content">
                    {{status.corpus.crawler.jobs_finished|none}} achieved
                  </p>
                  <p class="content">
                    {{status.corpus.crawler.jobs_running|none}} running
                  </p>
                  <p class="content">
                    {{status.corpus.crawler.jobs_pending|none}} pending
                  </p>
                </div>
              </div>

              <div class="col-md-4 col-lg-3 status-cell">
                <div class="status-cell-content">
                  <p class="title">
                    CONTENT CRAWLED
                  </p>
                  <p class="content">
                    {{status.corpus.crawler.pages_crawled|no}} page{{status.corpus.crawler.pages_crawled|plural}} crawled
                  </p>
                  <p class="content">
                    {{status.corpus.crawler.links_found|no}} link{{status.corpus.crawler.links_found|plural}} found
                  </p>
                  <p class="content">
                    {{status.corpus.crawler.pages_found|no}} page{{status.corpus.crawler.pages_found|plural}} found
                  </p>
                </div>
              </div>

              <div class="col-md-4 col-lg-3 status-cell">
                <div class="status-cell-content">
                  <p class="title">
                    PAGES TO INDEX
                  </p>
                  <p class="content">
                    {{status.corpus.memory_structure.pages_to_index|none}}
                  </p>
                </div>
              </div>

              <!-- <div class="col-md-4 col-lg-3 status-cell">
                <div class="status-cell-content">
                  <p class="title">
                    CORPUS
                  </p>
                  <p class="content" ng-if="webentities === undefined">
                    loading...
                  </p>
                  <p class="content" ng-if="webentities !== undefined">
                    {{webentities.length}} web entities
                  </p>
                </div>
              </div>
              
              <div class="col-md-4 col-lg-3 status-cell">
                <div class="status-cell-content">
                  <p class="title">
                    LINKS
                  </p>
                  <p class="content" ng-if="network === undefined">
                    loading...
                  </p>
                  <p class="content" ng-if="network !== undefined">
                    {{links.length}} Links
                  </p>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">

                <div class="sigma-parent"><div class="sigma-expand" id="sigma-example"></div></div>

              </div>
            </div> -->
            
          </div>
        </div>
      </div>
    </div>
