<div layout-fill layout="column" style="overflow-y: auto">
  <div>
    <disclaimer/>
  </div>
  <md-list class="md-dense" flex>
    
    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/overview" md-colors="{background: (currentPage=='overview') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">home</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>OVERVIEW</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-divider ></md-divider>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/importurls" md-colors="{background: (currentPage=='importurls') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">add</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>IMPORT</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/monitorCrawls" md-colors="{background: (currentPage=='monitorCrawls') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">toys</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>CRAWL</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/prospect" md-colors="{background: (currentPage=='prospect') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">lightbulb_outline</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>PROSPECT</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-divider ></md-divider>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/listWebentities" md-colors="{background: (currentPage=='listWebentities') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">list</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>WEB ENTITIES</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/network" md-colors="{background: (currentPage=='network') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">my_location</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>NETWORK</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/export" md-colors="{background: (currentPage=='export') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">file_download</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>EXPORT</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-divider ></md-divider>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/settings" md-colors="{background: (currentPage=='settings') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">settings</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>SETTINGS</h3>
        <p></p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-href="#/project/{{corpusId}}/help" md-colors="{background: (currentPage=='help') ? ('default-background-50') : ('default-background')}">
      <md-icon class="md-avatar">help</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>HELP</h3>
        <p></p>
      </div>
    </md-list-item>



</div>