          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 sidebar-col">
                <br/>
                <ul class="nav nav-pills nav-stacked sidebar">
                  
                  <!-- Overview -->
                  <li ng-class="{active: currentPage=='overview'}">
                    <a href="#/project/{{corpusId}}/overview">
                      <table><tr><td><span class="symbol"><span class="glyphicon glyphicon-asterisk"></span></span></td><td>OVERVIEW</td></tr></table>
                    </a>
                  </li>

                  <li class="spacer"></li>
                  
                  <!-- Import URLs -->
                  <li ng-class="{active: currentPage=='importurls'}">
                    <a href="#/project/{{corpusId}}/importurls">
                      <table><tr><td><span class="symbol">1</span></td><td>IMPORT URLS</td></tr></table>
                    </a>
                  </li>
                  
                  <!-- Define Web Entities -->
                  <li ng-if="currentPage=='importurls' || currentPage=='definewebentities'" ng-class="{active: currentPage=='definewebentities'}" class="inactive">
                    <a href="#/project/{{corpusId}}/definewebentities">
                      <table><tr><td><span class="symbol">&nbsp;</span></td><td>DEFINE WEB ENTITIES</td></tr></table>
                    </a>
                  </li>
                  
                  <li ng-if="currentPage=='importurls' || currentPage=='definewebentities'" ng-class="{active: currentPage=='definewebentities'}" class="spacer"></li>
                  
                  <!-- New Crawl -->
                  <li ng-class="{active: currentPage=='newCrawl'}">
                    <a href="#/project/{{corpusId}}/newCrawl">
                      <table><tr><td><span class="symbol">2</span></td><td>CRAWL</td></tr></table>
                    </a>
                  </li>
                  
                  <!-- Check Start Pages -->
                  <li ng-if="currentPage=='newCrawl' || currentPage=='checkStartPages' || currentPage=='scheduleCrawls'" ng-class="{active: currentPage=='checkStartPages'}" class="inactive">
                    <a href="#/project/{{corpusId}}/checkStartPages">
                      <table><tr><td><span class="symbol">&nbsp;</span></td><td>CHECK START PAGES</td></tr></table>
                    </a>
                  </li>
                  
                  <!-- Launch Crawl -->
                  <li ng-if="currentPage=='newCrawl' || currentPage=='checkStartPages' || currentPage=='scheduleCrawls'" ng-class="{active: currentPage=='launchCrawl'}" class="inactive">
                    <a href="#/project/{{corpusId}}/scheduleCrawls">
                      <table><tr><td><span class="symbol">&nbsp;</span></td><td>SCHEDULE CRAWLS</td></tr></table>
                    </a>
                  </li>

                  <li ng-if="currentPage=='newCrawl' || currentPage=='checkStartPages' || currentPage=='scheduleCrawls'" class="spacer"></li>
                  
                  <!-- Prospect -->
                  <li ng-class="{active: currentPage=='prospect'}">
                    <a href="#/project/{{corpusId}}/prospect">
                      <table><tr><td><span class="symbol">3</span></td><td>PROSPECT</td></tr></table>
                    </a>
                  </li>
                  
                  <li ng-class="{active: currentPage=='export'}">
                    <a href="#/project/{{corpusId}}/export">
                      <table><tr><td><span class="symbol">4</span></td><td>EXPORT WEB ENTITIES</td></tr></table>
                    </a>
                  </li>

                  <li class="spacer"></li>

                  <!-- Web entities list -->
                  <li ng-class="{active: currentPage=='listWebentities'}">
                    <a href="#/project/{{corpusId}}/listWebentities">
                      <table><tr><td><span class="symbol">&nbsp;</span></td><td>LIST WEB ENTITIES</td></tr></table>
                    </a>
                  </li>

                  <!-- Visualize Network -->
                  <li ng-class="{active: currentPage=='network'}">
                    <a href="#/project/{{corpusId}}/network">
                      <table><tr><td><span class="symbol">&nbsp;</span></td><td>VISUALIZE NETWORK</td></tr></table>
                    </a>
                  </li>

                  <li class="spacer"></li>
                  

                  <!--

                  <li>
                    <a href="#/project/{{corpusId}}">
                      <table><tr><td><span class="symbol">3</span></td><td>FILTER DISCOVERED WEB ENTITIES</td></tr></table>
                    </a>
                  </li>
                  
                  <li>
                    <a href="#/project/{{corpusId}}">
                      <table><tr><td><span class="symbol">4</span></td><td>LIST WEB ENTITIES</td></tr></table>
                    </a>
                  </li>
                  
                  <li>
                    <a href="#/project/{{corpusId}}">
                      <table><tr><td><span class="symbol">5</span></td><td>EXPORT WEB ENTITIES</td></tr></table>
                    </a>
                  </li>
                  
                  <li class="spacer"></li>
                  -->

                  <!-- Monitor crawls -->
                  <li ng-class="{active: currentPage=='monitorCrawls'}">
                    <a href="#/project/{{corpusId}}/monitorCrawls">
                      <table><tr><td><span class="symbol"><span class="glyphicon glyphicon-time"></span></td><td>MONITOR CRAWLS</td></tr></table>
                    </a>
                  </li>

                  <li ng-class="{active: currentPage=='settings'}">
                    <a href="#/project/{{corpusId}}/settings">
                      <table><tr><td><span class="symbol"><span class="glyphicon glyphicon-wrench"></span></td><td>SETTINGS</td></tr></table>
                    </a>
                  </li>


                  <!--
                  <li>
                    <a href="#/project/{{corpusId}}">
                      <table><tr><td><span class="symbol"><span class="glyphicon glyphicon-list"></span></td><td>PROJECT HISTORY</td></tr></table>
                    </a>
                  </li>
                  
                  <li class="spacer"></li>
                  
                  <li>
                    <a href="#/project/{{corpusId}}">
                      <table><tr><td><span class="symbol"><span class="glyphicon glyphicon-wrench"></span></td><td>PROJECT SETTINGS</td></tr></table>
                    </a>
                  </li>

                   -->
                  
                  <li class="spacer"></li>
                </ul>
              </div>
            </div>
          </div>
