<div layout-fill layout="column" layout-align="start stretch" style="overflow-y: auto" md-colors="{background: 'default-background-100'}">
  <div>
    <disclaimer/>
  </div>
  <md-list class="md-dense" flex>
    
    <md-list-item ng-href="#/project/{{corpusId}}/overview" md-colors="{background: (currentPage=='overview') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">home</md-icon>
        OVERVIEW
      </span>
    </md-list-item>

    <md-divider ></md-divider>

    <md-list-item ng-href="#/project/{{corpusId}}/importurls" md-colors="{background: (currentPage=='importurls') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">add</md-icon>
        IMPORT
      </span>
    </md-list-item>

    <md-list-item ng-href="#/project/{{corpusId}}/monitorCrawls" md-colors="{background: (currentPage=='monitorCrawls') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">opacity</md-icon>
        CRAWL
      </span>
    </md-list-item>

    <md-list-item ng-href="#/project/{{corpusId}}/prospect" md-colors="{background: (currentPage=='prospect') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">shopping_basket</md-icon>
        PROSPECT
      </span>
    </md-list-item>

    <md-divider ></md-divider>

    <md-list-item ng-href="#/project/{{corpusId}}/listWebentities" md-colors="{background: (currentPage=='listWebentities') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">list</md-icon>
        WEB ENTITIES
      </span>
    </md-list-item>

    <md-list-item ng-href="#/project/{{corpusId}}/manageTags" md-colors="{background: (currentPage=='manageTags') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">local_offer</md-icon>
        TAGS
      </span>
    </md-list-item>

    <md-list-item ng-href="#/project/{{corpusId}}/network" md-colors="{background: (currentPage=='network') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">bubble_chart</md-icon>
        NETWORK
      </span>
    </md-list-item>

    <md-list-item ng-href="#/project/{{corpusId}}/export" md-colors="{background: (currentPage=='export') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">file_download</md-icon>
        EXPORT
      </span>
    </md-list-item>

    <md-divider ></md-divider>

    <md-list-item ng-href="#/project/{{corpusId}}/tools" md-colors="{background: (currentPage=='tools') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">home_repair_service</md-icon>
        TOOLS
      </span>
    </md-list-item>

    <md-list-item ng-href="#/project/{{corpusId}}/settings" md-colors="{background: (currentPage=='settings') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">settings</md-icon>
        SETTINGS
      </span>
    </md-list-item>

    <md-list-item id="hybro-link" ng-href="{{hyBro}}" target="_blank" hybro-menu-link ng-show="hyBro">
      <span>
        <md-icon class="md-avatar" style="transform: rotateY(180deg)">
          web
        </md-icon>
        HYBRO
      </span>
    </md-list-item>

    <md-list-item ng-href="#/project/{{corpusId}}/help" md-colors="{background: (currentPage=='help') ? ('default-background-50') : ('default-background-100')}">
      <span>
        <md-icon class="md-avatar">help</md-icon>
        HELP
      </span>
    </md-list-item>

    <md-divider ></md-divider>

    <md-list-item ng-href="http://tools.medialab.sciences-po.fr" target="_blank" aria-label="médialab Tools">
      <span layout-padding layout-align="center center">
        <img src="img/medialab.png" title="Sciences Po | médialab">
      </span>
    </md-list-item>


</div>
