<div class="modal-header">
  <h3 class="modal-title">Out of Boundaries!</h3>
</div>
<div class="modal-body start-page-modal">
  <p class="text-info">
    The <span hyphe-glossary="start page"></span> you proposed is not in the <span hyphe-glossary="boundaries"></span> of the <span hyphe-glossary="web entity"></span>
  </p>
  <br/>
  <div ng-if="obj.status=='loading'">
    <span class="text-muted">Loading</span>
  </div>
  <div ng-if="obj.status=='error'" class="bg-danger">
    {{obj.errorMessage}}
  </div>
  <div ng-if="obj.status=='loaded'" class="slider-container">
    <div hyphe-prefix-slider="{editMode:true}"></div>
  </div>
  <br/>
</div>
<div class="modal-footer">
  <div ng-if="obj.task.type == 'addPrefix'" class="pull-left">
    <form class="form-inline" ng-show="false">
      <div class="form-group">
        <div class="checkbox variations-checkbox">
          <label>
            <input type="checkbox" ng-model="wwwVariations"> Include <span hyphe-glossary="www variations"></span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox variations-checkbox">
          <label>
            <input type="checkbox" ng-model="httpsVariations"> Include <span hyphe-glossary="https variations"></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <button class="btn btn-primary" ng-click="ok()">{{obj.task.type == 'addPrefix' ? 'ADD PREFIX' : obj.task.type == 'merge' ? 'MERGE' : 'OK'}}</button>
  <button class="btn btn-default" ng-click="cancel()">CANCEL</button>
</div>
