<div layout="column" layout-fill>

  <div
    layout-padding
    layout="row"
    layout-align="center center"
    md-colors="{'background':(status.background=='warning' || status.background=='danger') ? ('default-warn-50') : ('default-background-100')}"
    flex
  ><em>{{status.message}}</em></div>
  
  <md-progress-linear
    ng-if="status.message.length > 0 && !(status.progress && status.progress>0) && status.background!='danger'"
    ng-class="{'md-warn':status.background=='warning' || status.background=='danger', 'md-primary':status.background=='success' || status.background=='primary'|| status.background=='info'}"
    md-mode="indeterminate"
  ></md-progress-linear>
  
  <md-progress-linear
    ng-if="status.progress && status.progress>0"
    ng-class="{'md-warn':status.background=='warning' || status.background=='danger', 'md-primary':status.background=='success' || status.background=='primary'|| status.background=='info'}"
    md-mode="buffer"
    value="{{status.progress}}"
    md-buffer-value="{{status.progressPending}}"
  ></md-progress-linear>

</div>
