<div layout="row" layout-fill>
  <div layout="row" class="sidebar-width topbar-project" md-colors="{background: 'default-primary-500'}">
    <div flex>
      <div layout-fill layout="row" layout-padding layout-align="start center">
        {{corpusName}}
      </div>
    </div>
    <div >
      <md-button class="md-icon-button" style="margin-right: 0;" aria-label="Close corpus" ng-close-corpus ng-click="closeCorpus()">
        <md-icon md-colors="{color: 'default-primary-50'}">close</md-icon>
      </md-button>
    </div>
  </div>
  <div flex layout="row" md-colors="{background: 'default-background-100'}">
    <div flex hyphe-status>
    </div>
  </div>
</div>
