<div ng-controller="webentity.explorer">

  <br>

  <div ng-if="loading">
    <spinner text="'LOADING'"/>
  </div>

  <div ng-if="!loading">

    <ol class="breadcrumb">

      <!-- Home -->
      <li>
        <span ng-if="path.length == 0">
          <span class="glyphicon glyphicon-home"></span> {{webentity.name}}
        </span>
        <span ng-if="path.length > 0">
          <a href ng-click="goToParent()"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
          &nbsp;
          <a href ng-click="goTo()"><span class="glyphicon glyphicon-home"></span> {{webentity.name}}</a>
        </span>
      </li>

      <!-- Path elements > Home -->
      <li ng-repeat="obj in path track by $index">
        <a  ng-if="path.length > $index+1" href ng-click="goTo(obj.node)">{{obj.label}}</a>
        <span ng-if="path.length == $index+1">{{obj.label}}</span>
      </li>
      
    </ol>

    
    <!-- Explorer Table -->
    <table class="table table-condensed table-explorer">
      <thead>
        <tr>
          <th>Pages</th>
          <th class="cell-type">Type</th>
          <th class="cell-info">Info</th>
          <th class="cell-action"></th>
        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="obj in items track by $index"
        >
          <td> <!-- Label column -->

            <!-- case: prefix -->
            <div ng-if="obj.type == 'prefix'">
              <a href ng-click="goTo(obj.node)" title="{{obj.url}}">
                <span class="glyphicon glyphicon-briefcase" tooltip="This prefix contains {{obj.pagesCount == 0 ? 'no page' : obj.pagesCount == 1 ? '1 page' : obj.pagesCount+' pages'}}"></span>
                {{obj.label}}
              </a>
            </div>

            <!-- case: folder -->
            <div ng-if="obj.type == 'folder'">
              <a href ng-click="goTo(obj.node)" title="{{obj.url}}">
                <span class="glyphicon glyphicon-folder-close" tooltip="This folder contains {{obj.pagesCount == 0 ? 'no page' : obj.pagesCount == 1 ? '1 page' : obj.pagesCount+' pages'}}"></span>
                {{obj.label}}
              </a>
            </div>

            <!-- case: page -->
            <div ng-if="obj.type == 'page'">
              <span title="{{obj.url}}">
                <span class="glyphicon glyphicon-file" tooltip="Page"></span>
                {{obj.label}}
                <a href="{{obj.data.url}}" class="btn btn-link btn-xs" target="_blank"><span class="glyphicon glyphicon-share-alt"></span></a>
              </span>
            </div>
            
          </td>
          
          <td class="cell-type">{{obj.type}}</td>
          
          <td class="cell-info">
            
            <span ng-if="obj.type == 'prefix' || obj.type == 'folder'">
              {{obj.pagesCount == 0 ? 'No page' : obj.pagesCount == 1 ? '1 page' : obj.pagesCount+' pages'}}
            </span>

            <span ng-if="obj.type == 'page'">
              {{obj.crawled ? 'crawled' : 'not crawled'}}
            </span>

          </td>
          
          <td class="cell-action"></td>
        
        </tr>
      </tbody>
    </table>

    <!-- External prefixes -->
    <table class="table table-condensed table-explorer" ng-if="items_webentities.length > 0">
      <thead>
        <tr>
          <th>External prefixes</th>
          <th class="cell-webentity">Web entity</th>
          <th class="cell-action"></th>
        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="obj in items_webentities track by $index"
        >
          <td> <!-- Label column -->

            <div>
              <span title="{{obj.url}}">
                <span class="glyphicon glyphicon-briefcase" tooltip="Prefix of {{obj.data.name}}"></span>
                {{obj.label}}
                
              </span>
            </div>
            
          </td>
          
          <td class="cell-webentity"><a href="#/project/{{corpusId}}/webentity/{{obj.data.id}}">{{obj.data.name}}</a></td>
          
          <td class="cell-action"></td>
        
        </tr>
      </tbody>
    </table>

    <!-- Related (parent) web entities -->
    <table class="table table-condensed table-explorer" ng-if="path.length == 0 && parentWebentities.length > 0">
      <thead>
        <tr>
          <th>Related web entities</th>
          <th>prefixes</th>
          <th class="cell-action"></th>
        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="obj in parentWebentities track by $index"
        >
          <td><a href="#/project/{{corpusId}}/webentity/{{obj.id}}">{{obj.name}}</a></td>
          <td><span ng-repeat="lru in obj.lru_prefixes">{{lru|lru_to_url}}<br/></span></td>
          
          <td class="cell-action"></td>
        
        </tr>
      </tbody>
    </table>

  </div>

</div>