<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{webentity.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:640px;max-height:810px; ">

      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Start pages" ng-disabled="newStartPagesStack.length>0">
          <div layout="column" layout-fill md-colors="{background: 'default-background-50'}">
            
            <!-- List of start pages with lookups -->
            <div flex>
              <md-list class="md-dense">
                <md-list-item
                  ng-repeat="url in startpages track by $index"
                  class="md-2-line"
                  ng-class="{'wesp-modal-loading' : lookups[url].status == undefined || lookups[url].status == 'loading', 'wesp-modal-removed': removed[url]}"
                >
                  <!-- Avatar -->
                  <div
                    class="md-avatar"
                    ng-if="lookups[url].status == undefined || lookups[url].status == 'loading'"
                  >
                    <minispinner></minispinner>
                  </div>
                  <md-icon
                    ng-if="lookups[url].status == 'success'"
                    class="md-avatar-icon"
                    title="Lookup {{lookups[url].status}}"
                  >done</md-icon>
                  <md-icon
                    ng-if="lookups[url].status == 'issue'"
                    class="md-avatar-icon md-warn"
                    title="Lookup {{lookups[url].status}}"
                    md-colors="{'background': 'default-warn'}"
                  >warning</md-icon>

                  <div class="md-list-item-text">
                    <h3>
                      <div class="url-container">
                        <span class="url url-break">
                          <span>
                            <a href="{{url}}" target="_blank" title="Open in a new tab">
                              <md-icon>link</md-icon>
                            </a>
                            {{url}}
                          </span>
                        </span>
                      </div>          
                    </h3>
                    <p>
                      <span
                        ng-if=" lookups[url].status == 'issue'"
                        md-colors="{'color': 'default-warn'}"
                      >
                        <md-tooltip md-direction="left">HTTP code: {{lookups[url].httpStatus}}</md-tooltip>
                        {{lookups[url].httpStatus|explicitHttpCode}}
                      </span>
                      <span
                        ng-if="lookups[url].status == 'fail'"
                        md-colors="{'color': 'default-warn'}"
                      >
                        lookup fail
                      </span>
                    </p>
                  </div>
                  <md-button ng-click="removeStartPage(url)" class="md-secondary md-icon-button">
                    <md-icon>close</md-icon>
                  </md-button>
                </md-list-item>
              </md-list>
            </div>

            <!-- Add start pages -->
            <div
              layout="row"
              md-colors="{'background': 'default-primary-50'}"
              style="padding: 8px"
            >
              <md-input-container flex class="md-block">
                <label>Add one or more start pages</label>
                <input
                  type="text"
                  id="add-sp-{{webentity.id}}"
                  ng-model="newStartPagesURLs"
                  ng-change="validateNewStartPages()"
                  ng-press-enter="addStartPages()"
                >
                <div
                  class="hint"
                  ng-show="urlsToAdd.length > 1 || urlErrors.length"
                  md-colors="{'color':(urlErrors.length)?('default-warn'):('default-primary')}"
                >
                  {{urlsToAdd.length}} unique new URL{{urlsToAdd.length | plural}} found<span ng-show="urlErrors.length"> and {{urlErrors.length}} error{{urlErrors.length | plural}}:
                  <span ng-repeat="err in urlErrors track by $index">{{err}} </span>
                </div>
                <div
                  class="hint"
                  ng-show="urlsToAdd.length > 1 || urlErrors.length"
                  md-colors="{'color':(urlErrors.length)?('default-warn'):('default-primary')}"
                >
                  {{urlsToAdd.length}} unique new URL{{urlsToAdd.length | plural}} found<span ng-show="urlErrors.length"> and {{urlErrors.length}} error{{urlErrors.length | plural}}:
                  <span ng-repeat="err in urlErrors track by $index">{{err}} </span>
                </div>
              </md-input-container>
              <div layout="column" layout-align="center center">
                <md-button
                  class="md-icon-button"
                  ng-click="addStartPages()"
                  ng-disabled="newStartPagesInvalid"
                >
                  <md-icon class="material-icons">add</md-icon>
                </md-button>
              </div>
            </div>

            <!-- Diagnostic -->
            <div ng-show="startpagesSummary.diagnostic.ready">
              <h4 md-colors="{'color':'default-primary'}">READY TO CRAWL</h4>
              <p ng-show="startpagesSummary.diagnostic.issues" md-colors="{'color':'default-primary'}">
                At least one page is valid, allowing the crawl to start successfully.
              </p>
              <p ng-show="startpagesSummary.diagnostic.issues" md-colors="{'color':'default-accent'}">
                A little warning, though.
                <br>
                Some start pages have issues and cannot be crawled. It will not block the crawl but you may want to fix this.
              </p>
            </div>
            <div ng-show="startpagesSummary.diagnostic.doomed">
              <h4 md-colors="{'color':'default-warn'}">DOOMED CRAWL</h4>
              <p md-colors="{'color':'default-warn'}">
                This web entity has no valid start page. Hyphe will not be able to start crawling it.
              </p>
              <p style="opacity: 0.5">
                You can still try to launch it, though. Miracles happen.
              </p>
            </div>

          </div>
        </md-tab>
        <md-tab label="Check new start pages" ng-if="newStartPagesStack.length>0">
          <div layout="column" md-colors="{background: 'default-background-50'}">
            <div layout="column" ng-if="checkStartpagesProgress < 100">
              <md-content flex style="padding: 8px">
                {{checkStartpagesProgress}}% checked
              </md-content>
              <md-progress-linear md-mode="determinate" value="{{checkStartpagesProgress}}"></md-progress-linear>
            </div>
            <div layout="row" ng-if="checkStartpagesProgress == 100 && checkStartpagesConflicts>0">
              <div layout="column" layout-align="center center" style="margin:16px">
                <md-icon>warning</md-icon>
              </div>
              <md-content flex style="padding: 16px 8px 8px 8px">
                {{checkStartpagesConflicts}} proposed 
                <span ng-if="checkStartpagesConflicts <= 1">
                  <span hyphe-glossary="start page"></span> is
                </span>
                <span ng-if="checkStartpagesConflicts > 1">
                  <span hyphe-glossary="start pages"></span> are
                </span>
                not inside the <span hyphe-glossary="boundaries"></span> of the <span hyphe-glossary="web entity"></span>.
                <br>
                Below you can tell Hyphe what to do in each situation.
              </md-content>
            </div>

            <div ng-repeat="obj in newStartPagesStack">
              <hyphe-startpage-checker data='obj' resolve='resolveCase'></hyphe-startpage-checker>
            </div>

          </div>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="hide()" ng-if="checkStartpagesConflicts==0">
        Ok
      </md-button>
      <md-button ng-click="hide()" ng-if="checkStartpagesConflicts>0">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>