<ul class="nav nav-tabs">
  
  <li role="presentation" ng-class="{active: currentPage=='webentity'}">
    <a href="#/project/{{corpusId}}/webentity/{{webentity.id}}">Properties</a>
  </li>
  
  <li role="presentation" ng-class="{active: currentPage=='webentity.explorer'}">
    <a href="#/project/{{corpusId}}/webentity/{{webentity.id}}/explorer">Explore URLs</a>
  </li>

  <li role="presentation" ng-class="{active: currentPage=='webentity.pagesNetwork'}">
    <a href="#/project/{{corpusId}}/webentity/{{webentity.id}}/pagesNetwork">Pages Network</a>
  </li>
</ul>
