<!-- Content -->
<div
  layout-fill
  style="background-color: #F00"
>
  Hello World

  <!-- Button -->
  <!-- <md-button ng-click="toggleSidenav()" class="md-accent">
    Toggle Sidenav
  </md-button> -->

</div>

<!-- Side Nav -->
<md-sidenav
  class="md-sidenav-right"
  md-component-id="right"
  md-disable-backdrop
  md-whiteframe="4"
  md-is-open="true"
>

  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 md-truncate flex>Network Settings</h2>

      <md-button
        class="md-icon-button"
        ng-click="toggleSidenav()"
      ><md-icon>close</md-icon></md-button>
    </div>
    
  </md-toolbar>

  <md-content>
    <div
      layout="column"
      md-colors="{'background': 'default-background-200'}"
      style="padding: 8px"
    >
      <p class="md-title">Filter web entities</p>
      <hyphe-status-box
        statuses="statuses"
        counts="counts"
        change="touchSettings()"
        vertical="true"
      ></hyphe-status-box>
    </div>
  </md-content>

</md-sidenav>