<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{webentity.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:640px;max-height:810px; ">

      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Start pages" ng-disabled="newStartPagesStack.length>0">
          <div layout="column" layout-fill md-colors="{background: 'default-background-50'}">
            
            <!-- List of start pages with lookups -->
            <div flex>
              <md-list class="md-dense">
                <md-list-item
                  ng-repeat="url in startpages track by $index"
                  class="md-2-line"
                  ng-class="{'wesp-modal-loading' : lookups[url].status == undefined || lookups[url].status == 'loading', 'wesp-modal-removed': removed[url]}"
                >
                  <!-- Avatar -->
                  <div
                    class="md-avatar"
                    ng-if="lookups[url].status == undefined || lookups[url].status == 'loading'"
                  >
                    <minispinner></minispinner>
                  </div>
                  <md-icon
                    ng-if="lookups[url].status == 'success'"
                    class="md-avatar-icon"
                    title="Lookup {{lookups[url].status}}"
                  >done</md-icon>
                  <md-icon
                    ng-if="lookups[url].status == 'issue'"
                    class="md-avatar-icon md-warn"
                    title="Lookup {{lookups[url].status}}"
                    md-colors="{'background': 'default-warn'}"
                  >warning</md-icon>

                  <div class="md-list-item-text">
                    <h3>
                      <div class="url-container">
                        <span class="url url-break">
                          <span>
                            <a href="{{url}}" target="_blank" title="Open in a new tab">
                              <md-icon>link</md-icon>
                            </a>
                            {{url}}
                          </span>
                        </span>
                      </div>          
                    </h3>
                    <p>
                      <span
                        ng-if="lookups[url].status == 'issue'"
                        md-colors="{'color': 'default-warn'}"
                      >
                        <md-tooltip md-direction="left">HTTP code: {{lookups[url].httpStatus}}</md-tooltip>
                        {{lookups[url].httpStatus|explicitHttpCode}}
                      </span>
                      <span
                        ng-if="lookups[url].status == 'fail'"
                        md-colors="{'color': 'default-warn'}"
                      >
                        lookup fail
                      </span>
                    </p>
                  </div>
                  <md-button ng-click="removeStartPage(url)" class="md-secondary md-icon-button">
                    <md-icon>close</md-icon>
                  </md-button>
                </md-list-item>
              </md-list>
            </div>

            <!-- Add start pages -->
            <div
              layout="row"
              md-colors="{'background': 'default-primary-50'}"
              style="padding: 8px"
            >
              <md-input-container flex class="md-block">
                <label>Add one or more start pages</label>
                <input
                  type="text"
                  id="add-sp-{{webentity.id}}"
                  ng-model="newStartPagesURLs"
                  ng-change="validateNewStartPages()"
                  ng-press-enter="addStartPages()"
                  aria-label="new startpages"
                >
                <div
                  class="hint"
                  ng-show="urlsToAdd.length > 1 || urlErrors.length"
                  md-colors="{'color':(urlErrors.length)?('default-warn'):('default-primary')}"
                >
                  {{urlsToAdd.length}} unique new URL{{urlsToAdd.length | plural}} found<span ng-show="urlErrors.length"> and {{urlErrors.length}} error{{urlErrors.length | plural}}:
                  <span ng-repeat="err in urlErrors track by $index">{{err}} </span>
                </div>
              </md-input-container>
              <div layout="column" layout-align="center center">
                <md-button
                  class="md-icon-button"
                  ng-click="addStartPages()"
                  ng-disabled="newStartPagesInvalid"
                >
                  <md-icon class="material-icons">add</md-icon>
                </md-button>
              </div>
            </div>

            <!-- Diagnostic -->
            <div style="padding: 8px">
              <div ng-show="startpagesSummary.diagnostic.ready">
                <h3 class="md-title" md-colors="{'color':'default-primary'}">
                  <md-icon class="md-primary">done</md-icon>
                  READY TO CRAWL
                </h3>
                <p class="md-body-1" ng-show="startpagesSummary.diagnostic.issues">
                  <span md-colors="{'color':'default-primary'}">
                    At least one page is valid, allowing the crawl to start successfully.
                  </span>
                  <br>
                  <span md-colors="{'color':'default-warn'}">
                    A little warning, though.
                  </span>
                  <span>
                    Some start pages have issues and cannot be crawled.
                    It will not block the crawl but you may want to fix it.
                  </span>
                </p>
              </div>
              <div ng-show="startpagesSummary.diagnostic.doomed">
                <h3 class="md-title" md-colors="{'color':'default-warn'}">
                  <md-icon class="md-warn">warning</md-icon>
                  DOOMED CRAWL
                </h3>
                <p class="md-body-1">
                  <span md-colors="{'color':'default-warn'}">
                    This web entity has no valid start page. Hyphe should not be able to start crawling it.
                  </span>
                  <br/>
                  <span>
                    You can still try to launch it, though. Miracles happen.
                  </span>
                  <br/><br/>
                  <span ng-show="!webentity.webarchives.option">
                    If the page{{ startpages.length | plural }} did exist but disappeared from the web, you can enable "Web archives" in the "Advanced Crawl Options" tab to try and browse this specific entity in the past.
                  </span>
                </p>
              </div>
              <div ng-show="webentity.webarchives.option">
                <p class="md-body-1">
                  <span md-colors="{'color':'default-warn'}">
                    Note that this crawl is planned to use "Web archives" but the startpage{{ startpages.length > 1 ? 's were' : ' was' }} checked on the live web, so the crawl might actually {{ startpagesSummary.diagnostic.ready ? 'fail' : 'work' }} depending on the webentity's changes over the past.</span>
                  <br/><br/>
                  <span>You can disable "Web archives" in the "Advanced Crawl Options" tab if you rather want to crawl this webentity on the live web.</span>
                </p>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab label="Check new start pages" ng-if="newStartPagesStack.length>0">
          <div layout="column" md-colors="{background: 'default-background-50'}">
            <div layout="column" ng-if="checkStartpagesProgress < 100">
              <md-content flex style="padding: 8px">
                {{checkStartpagesProgress}}% checked
              </md-content>
              <md-progress-linear md-mode="determinate" value="{{checkStartpagesProgress}}"></md-progress-linear>
            </div>
            <div layout="row" ng-if="checkStartpagesProgress == 100 && checkStartpagesConflicts>0">
              <div layout="column" layout-align="center center" style="margin:16px">
                <md-icon>warning</md-icon>
              </div>
              <md-content flex style="padding: 16px 8px 16px 8px">
                {{checkStartpagesConflicts}} proposed 
                <span ng-if="checkStartpagesConflicts <= 1">
                  <span hyphe-glossary="start page"></span> is
                </span>
                <span ng-if="checkStartpagesConflicts > 1">
                  <span hyphe-glossary="start pages"></span> are
                </span>
                not inside the <span hyphe-glossary="boundaries"></span> of the <span hyphe-glossary="web entity"></span>.
                <br>
                Below you can tell Hyphe what to do{{(checkStartpagesConflicts > 1) ? ' in each situation' : ''}}.
              </md-content>
            </div>

            <div ng-repeat="obj in newStartPagesStack">
              <hyphe-startpage-checker data='obj' resolve='resolveCase'></hyphe-startpage-checker>
            </div>

          </div>
        </md-tab>
        <md-tab label="Advanced crawl options" ng-disabled="newStartPagesStack.length>0" md-on-select="initDatePicker()">
          <div layout="column" md-colors="{background: 'default-background-50'}" class="crawl_advanced">
            <span style="margin: 8px"><md-icon class="material-icons" role="img" aria-label="history">ads_click</md-icon> Crawl depth</span>
            <div md-colors="{background: 'default-primary-50'}" style="padding: 8px">
              <label><small md-colors="{'color': 'default-primary'}">Set a specific crawl <span hyphe-glossary="depth"></span> for this web entity</small></label>
              <md-select ng-model="webentity.crawlDepth" aria-label="number of clicks from the startpage">
                <md-option ng-repeat="depth in depthRange" value="{{depth}}">Depth: {{depth}} click{{depth | plural}}</md-option>
              </md-select>
            </div>

            <span style="margin: 8px"><md-icon class="material-icons" role="img" aria-label="history">history</md-icon> Web archives</span>
            <div layout="column" md-colors="{background: 'default-primary-50'}" style="padding: 8px">
              <label><small md-colors="{'color': 'default-primary'}">Crawl this web entity in the past using web archives</small></label>
              <div flex layout="row" style="justify-content: space-around;">
                <md-radio-group ng-model="webentity.webarchives.option" ng-change="setArchivesMinMaxDate()" class="md-primary" aria-label="choice of web archive">
                  <div ng-repeat="option in webarchives_options">
                    <small>{{option.description}}</small>
                    <md-radio-button value="{{option.id}}" class="md-primary">{{option.label}}</md-radio-button>
                  </div>
                </md-radio-group>
                <div layout="column" ng-style="{'opacity': webentity.webarchives.option ? 1 : 0, 'width': '257px'}">
                  <label><small>Date to try to approach:</small></label>
                  <div style="display: flex; justify-content: space-between; flex-wrap: nowrap">
                    <md-input-container style="margin: 0px; height: 28px; width: 60%; padding-bottom: 22px">
                      <input id="datepicker" type="date" ng-model="datepicker_date" ng-change="setArchivesMinMaxDate()" aria-label="date to approach">
                    </md-input-container>
                    <small style="color: red; width: 55%" ng-show="date_error">{{ date_error }}</small>
                  </div>

                  <label><small>Delay to consider before and after the date</small></label>
                  <div layout="row" style="display: flex; justify-content: flex-start">
                    <md-input-container style="margin: 0px; height: 28px; width: 60%; text-align: center">
                      <md-select ng-model="ed_webarchive_daysrange_choice" ng-change="setArchivesMinMaxDate()" aria-label="days to consider before and after the date">
                        <md-option ng-repeat="(key, value) in webarchives_periods" value="{{ key }}">{{ value }}</md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container ng-show="ed_webarchive_daysrange_choice === 'custom'" style="margin: 0px; height: 28px; width: 25%">
                      <input type="number" min="1" max="10000" ng-model="ed_webarchive_daysrange_custom" ng-change="setArchivesMinMaxDate()" style="text-align: right" aria-label="number of days before and after the date">
                    </md-input-container>
                    <span ng-show="ed_webarchive_daysrange_choice === 'custom'" style="padding-top: 5px">days</span>
                  </div>

                  <div style="text-align:center; margin-top: 20px;">
                    <small><em>{{ webarchives_mindate }} &#x2794; {{ webarchives_maxdate }}</em></small>
                  </div>
                </div>
              </div>
            </div>

            <span style="margin: 8px"><span style="color:grey; filter: grayscale(100%);">🍪</span> Cookies</span>
            <div layout="column" md-colors="{background: 'default-primary-50'}" style="padding: 8px">
              <label><small md-colors="{'color': 'default-primary'}">Paste your browser's cookies for this web entity to grant the crawler your authenticated access</small></label>
              <md-input-container flex class="md-block">
                <textarea
                  id="add-cookies-{{webentity.id}}"
                  ng-model="webentity.cookiesString"
                  ng-change="validateCookiesString()"
                  rows="2"
                  max-rows="8"
                  aria-label="cookies"
                ></textarea>
                <div
                  ng-show="cookies_error"
                  class="hint"
                  md-colors="{'color': 'default-warn'}"
                >
                  WARNING: {{ cookiesError }}
                </div>
              </md-input-container>
            </div>
          </div>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="hide()" ng-disabled="checkStartpagesConflicts>0 || cookies_error || date_error">
        Ok
      </md-button>
      <md-button ng-click="hide()" ng-if="checkStartpagesConflicts>0">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
