              <div
                class="topbar-status"
                ng-class="{'bg-primary':status.background=='primary', 'bg-success':status.background=='success', 'bg-info':status.background=='info', 'bg-warning':status.background=='warning', 'bg-danger':status.background=='danger'}"
                >
                <div class="message">{{status.message}}</div>
                <div class="progress" ng-if="status.progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{status.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status.progress}}%;">
                    <span class="sr-only">{{status.progress}}% Complete</span>
                  </div>
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{status.progressPending}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status.progressPending}}%;">
                    <span class="sr-only">{{status.progressPending}}% Pending</span>
                  </div>
                </div>
              </div>
