                	<div class="container-fluid hyphe-prefix-slider">
                		<div class="row">
                			<div class="col-md-4">
                				<div class="name-container">{{obj.name}}</div>
                				<div class="status-container">{{obj.status}}</div>
                			</div>
                			<div class="col-md-8">
                				<table>
                					<tr>
                						<td class="stem" ng-repeat="stem in obj.pretty_lru track by $index" ng-class="{inblock: $index < $parent.obj.prefixLength}">{{stem}}</td>
                					</tr>
                				</table>
		                  	<div class="slider-button-container" hyphe-prefix-slider-button="{cursor:'pointer'}">
			                  	<div class="slider-hitbox"></div>
			                  	<div class="slider-bar"></div>
			                  	<div class="slider-button"></div>
			                  </div>
                			</div>
                		</div>
                	</div>