<div layout="row" layout-fill class="hyphe-prefix-slider">
  
  <!-- Name and status -->
  <div style="width: 256px" layout="column">
		<div>
			<a
        href="{{obj.url}}"
        target="_blank"
        ng-click="$event.stopPropagation();"
      ><md-icon class="md-primary">link</md-icon></a>
      {{obj.name}}
		</div>
		<div
      ng-show="obj.WEstatus != 'new'"
      md-colors="{'color': 'default-accent'}"
    >{{obj.statusText}}</div>
  </div>

  <!-- Prefix link -->
  <div class="prefix-link" layout="column">
    <a
      layout-fill
      href="{{obj.lru|cutPrefixToUrl:obj.truePrefixLength}}"
      target="_blank"
      ng-click="$event.stopPropagation();"
    >
      <md-icon class="md-primary" ng-style="{'font-size':'18px'}">link</md-icon>
    </a>
  </div>

  <!-- Stems -->
	<div flex layout="row" class="stem-container">
		<span
      class="stem"
      ng-repeat="stem in obj.pretty_lru track by $index"
      ng-class="{
        pointable: clickableStem($index)
      }"
      md-colors="{
        'background': (rowActive)
          ? ( ($index < obj.prefixLength) ? ('default-primary-500-0.9') : ('default-background-50-0.0') )
          : ( ($index < obj.prefixLength) ? ('default-background-200') : ('default-background-50-0.0') ),
        'color': (rowActive)
          ? ( ($index < obj.prefixLength) ? ('default-primary-50') : ('default-grey-900') )
          : ( ($index < obj.prefixLength) ? ('default-grey-500') : ('default-grey-400') )
      }"
      ng-click="clickStem($index)"
    >
      {{stem}}
    </span>

    <!-- Slider -->
    <div class="slider-button-container"
      hyphe-prefix-slider-button="{cursor:'pointer'}"
      ng-show="!sliderHidden && rowActive"
    >
      <div class="slider-hitbox"></div>
      <div
        class="slider-bar"
        md-colors="{'background': 'default-primary-700'}"
      ></div>
      <div
        class="slider-button"
        md-colors="{'background': 'default-primary-700'}"
      ></div>
      <div
        class="slider-button-hover"
        md-colors="{'background': 'default-primary-100'}"
      ></div>
    </div>
  </div>

</div>
