<!-- Message if too big -->
<div layout-fill layout="column" layout-align="center center" ng-if="tooBig">
  
  <!-- Round -->
  <div
    md-colors="{'background': 'default-primary'}"
    style="width:200px;height:200px;border-radius:50%;"
    layout="column"
    layout-align="center center"
  >
    <div style="height: 24px"><!-- For visual balance --></div>
    <div><strong>{{nodesCount|number}} NODES</strong></div>
    <div><strong>{{edgesCount|number}} EDGES</strong></div>
    <div>
      <md-button
        aria-label="Download GEXF file"
        ng-click="downloadNetwork()"
      >
        <md-tooltip md-direction="right">Download GEXF file</md-tooltip>
        <md-icon style="color: #FFF">file_download</md-icon>
        Download
      </md-button>
    </div>
  </div>
  
  <!-- Message -->
  <div style="margin-top: 16px">
    THIS NETWORK IS LARGE
  </div>
  <div>
    Displaying it may be slow
  </div>
  <div style="margin-top: 16px">
    <md-button
      class="md-raised md-primary"
      aria-label="Display large network"
      ng-click="displayLargeNetwork()"
    >
      Display
    </md-button>
  </div>
</div>

<!-- Sigma network -->
<div
  layout-fill
  layout="column"
  layout-align="center center"
  ng-if="loaded && !tooBig"
  
>
  <!-- Sigma container -->
  <div id="sigma-div" layout-fill style="background-color: #FFF; overflow: hidden"></div>

  <!-- Buttons -->
  <div
    style="position: absolute; left: 16px; top: 16px;"
    layout="column"
  >
    <md-progress-circular
      class="md-accent"
      ng-if="layout.running"
      md-mode="indeterminate"
      style="position: absolute; top: -4px; left: 2px;"
      md-diameter="48"
    ></md-progress-circular>
    <md-button
      id="stopFA2"
      class="md-icon-button md-accent md-mini sigma-button"
      aria-label="Pause Layout"
      ng-click="stopLayout()"
      ng-if="layout.running"
    >
      <md-tooltip md-direction="right">Pause Layout</md-tooltip>
      <md-icon>pause</md-icon>
    </md-button>
    <md-button
      class="md-icon-button md-primary md-mini sigma-button"
      aria-label="Start Layout"
      ng-click="startLayout()"
      ng-if="!layout.running"
    >
      <md-tooltip md-direction="right">Start Layout</md-tooltip>
      <md-icon>play_arrow</md-icon>
    </md-button>
    <md-button
      class="md-icon-button md-mini sigma-button"
      aria-label="Zoom In"
      ng-click="zoomIn()"
    >
      <md-tooltip md-direction="right">Zoom In</md-tooltip>
      <md-icon>zoom_in</md-icon>
    </md-button>
    <md-button
      class="md-icon-button md-mini sigma-button"
      aria-label="Zoom Out"
      ng-click="zoomOut()"
    >
      <md-tooltip md-direction="right">Zoom Out</md-tooltip>
      <md-icon>zoom_out</md-icon>
    </md-button>
    <md-button
      class="md-icon-button md-mini sigma-button"
      aria-label="Reset Camera"
      ng-click="resetCamera()"
    >
      <md-tooltip md-direction="right">Reset Camera</md-tooltip>
      <md-icon>center_focus_weak</md-icon>
    </md-button>
    <md-button
      class="md-icon-button md-primary md-mini sigma-button"
      aria-label="Download GEXF file"
      ng-click="downloadNetwork()"
    >
      <md-tooltip md-direction="right">Download GEXF file</md-tooltip>
      <md-icon>file_download</md-icon>
    </md-button>
  </div>
</div>
