

/* ==========================================================================
   Generic styles
   ========================================================================== */

/* Global color and font */
body {
  color: #555;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}
.label, .badge{
  font-family: sans-serif;
}

/* ==========================================================================
   Login page
   ========================================================================== */

div.welcome-column{
	margin-top: 160px;
	text-align: center;
}


/* ==========================================================================
   Top bar
   ========================================================================== */
.topbar{
  background-color: #3AA6DD;
  color: #AFD6EE;
  font-weight: 400;
  font-size: 1.3em;
}
.topbar-project{
  background-color: #1B4C6B;
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 12px;
}
.topbar-status{
  background-color: #FF846F;
  color: #FFF;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.topbar-branding{
  text-align: right;
  padding-top: 12px;
  padding-bottom: 12px;
}


/* ==========================================================================
   Sidebar nav
   ========================================================================== */
.sidebar span.symbol{
  float: left;
  width: 40px;
}
.sidebar li.spacer{
  margin-bottom: 24px;
}








