

/* ==========================================================================
   Generic styles
   ========================================================================== */

/* Global color and font */
body {
  color: #555;
  font-family: 'Source Sans Pro', sans-serif;
}
.label, .badge{
  font-family: sans-serif;
  font-weight: 400;
}
h1.page-title{
  font-weight: 300;
}


/* ==========================================================================
   "No-gutter" option for bootstrap rows
   ========================================================================== */

/* remove spacing between middle columns */
@media (min-width: 768px) { /* sm screen and up */
  .row.no-gutter>[class*='col-']:not(:first-child):not(:last-child) {
    padding-right:0;
    padding-left:0;
  }
  /* remove right padding from first column */
  .row.no-gutter>[class*='col-']:first-child {
    padding-right:0;
  }
  /* remove left padding from first column */
  .row.no-gutter>[class*='col-']:last-child {
    padding-left:0;
  }
}


/* ==========================================================================
   Login page
   ========================================================================== */

div.welcome-column{
	margin-top: 120px;
	text-align: center;
}
div.welcome-column h1{
  font-size: 52px;
  font-weight: 300;
}


/* ==========================================================================
   Top bar
   ========================================================================== */
.topbar{
  background-color: #EFEBE8;
  font-size: 18px;
}
.topbar-project{
  background-color: #428bca;
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
}
.topbar-status{
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 300;
}
.topbar-branding{
  text-align: right;
  padding-top: 12px;
  padding-bottom: 12px;
}


/* ==========================================================================
   Sidebar nav
   ========================================================================== */
.sidebar-col{
  background-color: #EFEBE8;
  border-radius: 0px 0px 6px 0px;
}
.sidebar span.symbol{
  float: left;
  width: 26px;
}
.sidebar li.spacer{
  margin-bottom: 24px;
}

/* Relooking the nav pills */
.sidebar>li>a{
  color: #1B4C6B;
  border-radius: 4px 0px 0px 4px;
}
@media (max-width: 768px) { /* xs screen only */
  .sidebar>li>a{
    border-radius: 4px 4px 4px 4px;
  }
  .sidebar-col{
    padding-right: 15px;
  }
}
.sidebar>li>a:hover{
  background-color: #FFF;
  color: #1B4C6B;
}
.sidebar>li.active>a, .sidebar>li.active>a:hover{
  background-color: #FFF;
  color: #000;
  font-weight: 600;
}

.import-info{
  margin-top: 8px;
}

#define-we-button{
  margin-top: 6px;
}


/* ==========================================================================
   View: Import URLs
   ========================================================================== */
textarea.over{
  border-color: rgba(117, 179, 229, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(117, 179, 229, 0.6);
}
textarea.over-error{
  border-color: rgba(148, 25, 25, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(148, 25, 25, 0.6);
}
.preview-container{
  overflow: auto;
}
.preview-table{
  margin-bottom: 2px;
}


/* ==========================================================================
   View: Define Web Entities
   ========================================================================== */
.sliders-table>tbody>tr:not(.active)>td{
  border-top: 1px solid #F5F5F5;
}
.sliders-table>tbody>tr.active>td{
  background-color: #EFEBE8;
}
.sliders-table>tbody>tr{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  select: none;
}
.sliders-table>tbody>tr:not(.active){
  cursor: pointer;
}
.row-id{
  padding-top: 6px;
  font-size: 18px;
  font-weight: 400;
}

/* ==========================================================================
   Module: Web Entity Slider
   ========================================================================== */
.hyphe-prefix-slider .name-container{
  word-break:keep-all;
  white-space: nowrap;
  overflow: hidden;
}

.hyphe-prefix-slider .stem{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 4px solid transparent;
  font-family: 'Roboto Condensed';
  font-weight: 400;
}
.hyphe-prefix-slider .stem.inblock{
  background-color: #ff846f;
  border: 4px solid #ff846f;
  color: #FFF;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

.blurred>.hyphe-prefix-slider .stem{
  color: #BBB;
}
.blurred>.hyphe-prefix-slider .stem.inblock{
  background-color: #EFEBE8;
  border: 4px solid #EFEBE8;
  color: #555;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

/* bars showing web entities */
.hyphe-prefix-slider tr>td.webentity-stem{
  border-bottom: 4px solid #cfc9c4;
  height: 6px;
}
.hyphe-prefix-slider tr>td.webentity-stem:first-child{
  border-left: 4px solid #cfc9c4;
}
.hyphe-prefix-slider tr>td.webentity-stem:last-child{
  border-right: 4px solid #cfc9c4;
}
.hyphe-prefix-slider tr>td.webentity-spacer{
  height: 5px;
}
.hyphe-prefix-slider tr.selected>td.webentity-stem{
  border-color: #000;
}
.blurred>.hyphe-prefix-slider tr>td.webentity-stem{
  border-color:#ebe7e4;
}

/* slider button */
.hyphe-prefix-slider .slider-button-container{
  position: absolute;
  margin-top: 20px;
  cursor: pointer;
}
.hyphe-prefix-slider .slider-button-container .slider-hitbox{
  position: absolute;
  width: 48px;
  height: 64px;
  margin-left: -24px;
  margin-top: -32px;
  background-color: rgba(250, 250, 250, 0.);
}
.hyphe-prefix-slider .slider-button-container .slider-bar{
  position: absolute;
  width: 4px;
  height: 48px;
  margin-left: -2px;
  margin-top: -24px;
  background-color: #000;
}
.hyphe-prefix-slider .slider-button-container:hover .slider-bar, .hyphe-prefix-slider .slider-button-container.draggable .slider-bar{
  background-color: #428bca;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.4);
  -moz-box-shadow:    0px 0px 4px 2px rgba(255, 255, 255, 0.4);
  box-shadow:         0px 0px 4px 2px rgba(255, 255, 255, 0.4);
}
.hyphe-prefix-slider .slider-button-container .slider-button{
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 8px 8px 8px 8px;
  background-color: #ff846f;
  border: 4px solid #000;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.hyphe-prefix-slider .slider-button-container:hover .slider-button, .hyphe-prefix-slider .slider-button-container.draggable .slider-button{
  border-color: #428bca;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.4);
  -moz-box-shadow:    0px 0px 4px 2px rgba(255, 255, 255, 0.4);
  box-shadow:         0px 0px 4px 2px rgba(255, 255, 255, 0.4);
}
.blurred>.hyphe-prefix-slider .slider-button-container{
  display: none;
}
