{
  "mongo-scrapy": {
    "host": "localhost",
    "mongo_port": 27017,
    "proxy_host": "",
    "proxy_port": 3128,
    "db_name": "hyphe",
    "scrapy_port" : 6800,
    "maxdepth" : 3,
    "download_delay" : 1,
    "max_simul_requests" : 12,
    "max_simul_requests_per_host" : 1
  },
  "memoryStructure": {
    "keepalive": 1800,
    "thrift.portrange": [13500, 13509],
    "thrift.max_ram": 2560,
    "lucene.rootpath": "##HYPHEPATH##/lucene-data",
    "log.level": "INFO",
    "max_simul_pages_indexing": 100,
    "max_simul_links_indexing": 10000
  },
  "twisted.port": 6978,
  "precisionLimit": 2,
  "defaultStartpagesMode": "prefixes",
  "defaultCreationRule": "domain",
  "creationRules": {
    "twitter.com": "path-1",
    "twitter.com/hashtag": "path-2",
    "facebook.com": "path-1",
    "facebook.com/pages": "path-2",
    "plus.google.com": "path-1",
    "linkedin.com": "path-2",
    "viadeo.com/user": "path-2",
    "ello.co": "path-1",
    "pinterest.com": "path-1",
    "github.io": "subdomain",
    "herokuapp.com": "subdomain",
    "over-blog.com": "subdomain",
    "blogspot.com": "subdomain",
    "blogspot.fr": "subdomain",
    "blogspot.co.uk": "subdomain-2",
    "tumblr.com": "subdomain",
    "wordpress.com": "subdomain",
    "vimeo.com/user": "path-2",
    "dailymotion.com/user": "path-2",
    "youtube.com/user": "path-2",
    "eu.int": "subdomain",
    "com.io": "subdomain",
    "ac.in": "subdomain",
    "co.in": "subdomain",
    "org.in": "subdomain",
    "net.in": "subdomain",
    "nic.in": "subdomain",
    "edu.in": "subdomain",
    "gov.in": "subdomain",
    "edu.co": "subdomain",
    "ac.be": "subdomain",
    "ac.ru": "subdomain",
    "co.za": "subdomain",
    "gov.za": "subdomain",
    "com.mx": "subdomain",
    "gob.mx": "subdomain",
    "com.ar": "subdomain",
    "edu.ar": "subdomain",
    "gob.ar": "subdomain",
    "org.ar": "subdomain",
    "int.ar": "subdomain",
    "net.ar": "subdomain",
    "com.br": "subdomain",
    "edu.br": "subdomain",
    "gov.br": "subdomain",
    "org.br": "subdomain",
    "net.br": "subdomain",
    "com.ge": "subdomain",
    "edu.ge": "subdomain",
    "gov.ge": "subdomain",
    "org.ge": "subdomain",
    "net.ge": "subdomain",
    "com.gr": "subdomain",
    "edu.gr": "subdomain",
    "gov.gr": "subdomain",
    "org.gr": "subdomain",
    "net.gr": "subdomain",
    "com.ru": "subdomain",
    "org.ru": "subdomain",
    "gov.ru": "subdomain",
    "edu.it": "subdomain",
    "gov.it": "subdomain",
    "ac.uk": "subdomain",
    "co.uk": "subdomain",
    "org.uk": "subdomain",
    "gov.uk": "subdomain",
    "ac.jp": "subdomain",
    "co.jp": "subdomain",
    "ed.jp": "subdomain",
    "ac.cn": "subdomain",
    "com.cn": "subdomain",
    "edu.cn": "subdomain",
    "gov.cn": "subdomain",
    "net.cn": "subdomain",
    "org.cn": "subdomain",
    "ac.au": "subdomain",
    "co.au": "subdomain",
    "com.au": "subdomain",
    "edu.au": "subdomain",
    "org.au": "subdomain",
    "ac.nz": "subdomain",
    "co.nz": "subdomain",
    "org.nz": "subdomain",
    "com.fr": "subdomain",
    "asso.fr": "subdomain",
    "nom.fr": "subdomain",
    "tm.fr": "subdomain",
    "cci.fr": "subdomain",
    "gouv.fr": "subdomain",
    "qc.ca": "subdomain",
    "gc.ca": "subdomain"
  },
  "discoverPrefixes": [
    "bit.ly",
    "t.co",
    "tinyurl.com",
    "goo.gl",
    "fb.me",
    "on.fb.me",
    "l.facebook.com",
    "www.facebook.com/l.php",
    "ur1.ca",
    "j.mp",
    "wp.me",
    "ow.ly"
  ],
  "phantom": {
    "autoretry": false,
    "timeout": 600,
    "idle_timeout": 20,
    "ajax_timeout": 15,
    "whitelist_domains": [
    ]
  },
  "MULTICORPUS": true,
  "ADMIN_PASSWORD": null,
  "DEBUG": 0
}
