{
  "mongo-scrapy": {
    "host": "localhost",
    "mongo_port": 27017,
    "proxy_host": "",
    "proxy_port": 3128,
    "db_name": "hyphe",
    "scrapy_port": 6800,
    "max_depth": 3,
    "download_delay": 1,
    "store_crawled_html_content": false,
    "max_simul_requests": 12,
    "max_simul_requests_per_host": 1
  },
  "traph": {
    "keepalive": 1800,
    "data_path": "##HYPHEPATH##/traph-data",
    "max_simul_pages_indexing": 250
  },
  "core_api_port": 6978,
  "defaultStartpagesMode": ["homepage", "prefixes", "pages-5"],
  "defaultCreationRule": "domain",
  "creationRules": {
    "twitter.com": "path-1",
    "facebook.com": "path-1",
    "facebook.com/pages": "path-2",
    "facebook.com/groups": "path-2",
    "facebook.com/people": "path-2",
    "plus.google.com": "path-1",
    "linkedin.com": "path-2",
    "viadeo.com/user": "path-2",
    "ello.co": "path-1",
    "pinterest.com": "path-1",
    "over-blog.com": "subdomain",
    "tumblr.com": "subdomain",
    "wordpress.com": "subdomain",
    "vimeo.com/user": "path-2",
    "dailymotion.com/user": "path-2",
    "youtube.com/user": "path-2"
  },
  "discoverPrefixes": [
    "fb.me", "l.facebook.com", "facebook.com/l.php", "www.facebook.com/l.php",
    "goo.gl", "feedproxy.google.com",
    "t.co", "lnkd.in", "youtu.be",
    "bit.ly", "bitly.com", "tinyurl.com",
    "buff.ly", "dlvr.it", "is.gd", "j.mp",
    "owl.li", "ow.ly", "po.st", "wp.me",
    "shar.es", "tmblr.co",
    "adec.co", "amn.st", "bddy.me", "crwd.fr",
    "disq.us", "ebx.sh", "ed.gr", "fal.cn",
    "flip.it", "frama.link", "fw.to", "gerd.fm",
    "go.shr.lc", "ht.ly", "hubs.ly", "ift.tt",
    "io.webhelp.com", "lc.cx", "loom.ly", "mon.actu.io",
    "msft.social", "mtr.cool", "non.li", "sco.lt",
    "soc.fm", "spr.ly", "swll.to", "trib.al",
    "twib.in", "u.afp.com", "urlz.fr", "wrld.bg",
    "xfru.it", "zpr.io"
  ],
  "phantom": {
    "autoretry": false,
    "timeout": 600,
    "idle_timeout": 20,
    "ajax_timeout": 15,
    "whitelist_domains": [
    ]
  },
  "webarchives": {
    "options": ["web.archive.org"],
    "date": "2012-07-01",
    "days_range": 28
  },
  "ADMIN_PASSWORD": null,
  "OPEN_CORS_API": false,
  "DEBUG": 0
}
