[scrapyd]
bind_address     = 0.0.0.0
http_port        = 6800
max_proc         = 24
max_proc_per_cpu = 8
poll_interval    = 1
jobs_to_keep     = 25
finished_to_keep = 100
debug            = off
eggs_dir    = /var/lib/scrapyd/eggs
dbs_dir     = /var/lib/scrapyd/dbs
items_dir   = 
logs_dir    = /var/log/scrapyd

