<!-- Login -->
<div
  layout="column"
  layout-align="center center"
  layout-fill
  ng-if="!corpusList"
>
  <!-- If password error -->
  <div ng-if="passwordError" md-colors="{'background':'default-warn'}" style="padding: 8px">
    {{passwordError}}
  </div>

  <!-- Else -->
  <div ng-if="!passwordError">
    <h3>Restricted access</h3>

    <md-input-container>
      <label>Admin password</label>
      <input
        type="password"
        focus-me="{{true}}"
        ng-model="$parent.$parent.password"
        ng-press-enter="connect()"
      >
    </md-input-container>

    <div>
      <md-button
        class="md-raised md-primary"
        ng-click="connect()"
      >OK</md-button>
      <md-button
        ng-click="cancel()"
      >CANCEL</md-button>
    </div>
  </div>
</div>

<!-- Admin page -->
<div
  layout="row"
  layout-fill
  ng-if="corpusList"
>
  <!-- Left column -->
  <div style="width: 200px" layout="column">
    <div
      class="welcome-logo" 
      layout="column"
      layout-align="start center"
    >
      <img src="img/HYPHE.svg" title="hyphe-logo" style="width: 180px">
      <h1 style="font-weight: 100; font-family: Roboto;font-size: 3.5em;">hyphe</h1>
    </div>
    <div layout="column">
      <div style="padding: 8px">
        {{corpusList.length}} corp{{corpusList.length > 1 ? 'ora' : 'us'}}
      </div>
      <div style="padding: 8px">
        {{globalStatus.ram_left}} Mo of free RAM
      </div>
      <div style="padding: 8px">
        Corpus slots: {{globalStatus.corpus_running}} in operation &amp; {{globalStatus.ports_left}} free
      </div>
      <div style="padding: 8px">
        Crawls: {{globalStatus.crawls_running}} running &amp; {{globalStatus.crawls_pending}} pending
      </div>
    </div>
  </div>
  <div flex layout="row" style="overflow-y: auto" layout-wrap>
    <div
      flex="50"
      ng-repeat="corpus in corpusList"
    >
      <md-card
        style="background-color: #FFF"
      >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              {{corpus.name}}
            </span>
            <span class="md-subhead">
              ID: {{corpus.corpus_id}}
            </span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" style="padding: 8px" layout="column">
              <div layout="row" class="webentity-color-in">
                <div style="width: 80px; text-align: right; padding-right: 8px">{{corpus.webentities_in}}</div>
                <div>IN</div>
              </div>
              <div layout="row" class="webentity-color-undecided">
                <div style="width: 80px; text-align: right; padding-right: 8px">{{corpus.webentities_undecided}}</div>
                <div>UND.</div>
              </div>
              <div layout="row" class="webentity-color-out">
                <div style="width: 80px; text-align: right; padding-right: 8px">{{corpus.webentities_out}}</div>
                <div>OUT</div>
              </div>
              <div layout="row" class="webentity-color-discovered">
                <div style="width: 80px; text-align: right; padding-right: 8px">{{corpus.webentities_discovered}}</div>
                <div>DISC.</div>
              </div>
              <div layout="row">
                <div style="width: 80px; text-align: right; padding-right: 8px"><em>{{corpus.total_webentities}}</em></div>
                <div><em>TOTAL</em></div>
              </div>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <div layout="row">
            <div flex="30" layout="column">
              <div>
                <md-icon ng-if="corpus.password && !corpus.ready" ng-style="{'font-size': '36px', 'height':'36px'}">lock</md-icon>
                <md-icon ng-if="!corpus.password && !corpus.ready" ng-style="{'font-size': '36px', 'height':'36px'}">stop</md-icon>
                <md-icon ng-if="corpus.ready" ng-style="{'font-size': '36px', 'height':'36px'}">play_circle_outline</md-icon>
              </div>
              <div>
                <strong>{{corpus.status|uppercase}}</strong>
              </div>
              <div ng-if="corpus.password">Password Protected</div>
              <div ng-if="!corpus.password">Not protected</div>
            </div>
            <div flex="40" layout="column" style="padding: 0px 8px 0px 8px">
              <div>
                Created
                <span>
                  <md-tooltip md-direction="right">{{corpus.created_at|date}}</md-tooltip>
                  {{corpus.created_at|prettyDate}}
                </span>
              </div>
              <div>
                Last activity
                <span>
                  <md-tooltip md-direction="right">{{corpus.last_activity|date}}</md-tooltip>
                  {{corpus.last_activity|prettyDate}}
                </span>
              </div>
              <div>
                Last index
                <span>
                  <md-tooltip md-direction="right">{{corpus.last_index_loop|date}}</md-tooltip>
                  {{corpus.last_index_loop|prettyDate}}
                </span>
              </div>
            </div>
            <div flex="30" layout="column">
              <div>
                {{corpus.total_crawls}} crawls
              </div>
              <div>
                {{corpus.total_pages_crawled}} crawled pages
              </div>
              <div>
                {{corpus.total_pages}} pages
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">

          <md-button
            class="md-warn"
            ng-click="destroyCorpus(corpus.corpus_id)"
            ng-if="corpus.ready"
          >
            <md-icon>delete_forever</md-icon>
            DESTROY
          </md-button>

          <md-button
            class="md-warn"
            ng-click="resetCorpus(corpus.corpus_id)"
            ng-if="corpus.ready"
          >
            <md-icon>delete</md-icon>
            RESET
          </md-button>

          <md-button
            class="md-raised md-primary"
            ng-click="startCorpus(corpus.corpus_id, corpus.password)"
            ng-if="!corpus.ready"
          >
            <md-icon>play_arrow</md-icon>
            START
          </md-button>

          <md-button
            class=""
            ng-click="stopCorpus(corpus.corpus_id)"
            ng-if="corpus.ready"
          >
            <md-icon>stop</md-icon>
            STOP
          </md-button>
          
          <md-button
            class="md-primary"
            ng-click="openCorpus(corpus.corpus_id, corpus.name)"
            ng-if="corpus.ready"
          >
            <md-icon>arrow_forward</md-icon>
            OPEN
          </md-button>

        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>