<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">

          <!-- Title -->
          <div class="page-header">
            <h1>
              DEFINE WEB ENTIT{{list.length | y_ies | uppercase}}
            </h1>
            <span class="md-subhead">
              Check the <span hyphe-glossary="boundaries"></span> of each <span hyphe-glossary="web entity"></span> before creating it
            </span>
          </div>

          <!-- Initial loading -->
          <div
            flex
            ng-show="!(list.length || createdList.length || existingList.length || retry)"
            layout="column"
            layout-align="center center"
          >
            <spinner class="center" text=""/>
          </div>

          <!-- Sliders global commands -->
          <div
            ng-if="list.length || retry"
            layout="row"
            layout-align="start center"
            ng-show="(list.length || createdList.length || existingList.length || retry)"
            style="padding: 8px"
          >
            <div>Move all sliders</div>
            <md-button
              ng-click="moveAllSliders('left')"
            >TO THE LEFT</md-button>
            <md-button
              ng-click="moveAllSliders('right')"
            >TO THE RIGHT</md-button>
          </div>

          <!-- List (virtual repeat) -->
          <div
            ng-if="list.length || retry"
            flex
          >
            <md-virtual-repeat-container
              layout-fill
              style="background-color: #FFF"
            >
              <div
                md-virtual-repeat="obj in list"
                class="define-entity-repeated-item"
                flex
                layout="row"
                ng-class="{active: $parent.$parent.activeRow == $index && obj.status=='loaded', 'odd': $index % 2, 'bg-danger':obj.status=='error', 'bg-warning':obj.status=='conflict', selectable:obj.status=='error'}"
                ng-click="$parent.$parent.activeRow = $index"
                ng-mouseover="$parent.$parent.activeRow = $index"
              >
                <div class="define-entity-row-id" layout="row" layout-align="end start">
                  <div>{{obj.id+1}}</div>
                </div>

                <div flex style="padding-top: 4px">
                  
                  <!-- Loading and pending-->
                  <div ng-if="obj.status == 'loading' || obj.status == 'pending'" class="info-content">
                    <em md-colors="{'color': 'default-background-600'}">{{obj.status|titlecase}}</em>
                  </div>

                  <!-- Loaded -->
                  <div ng-if="obj.status == 'loaded'" layout="column">
                    
                    <!-- The UX slider component -->
                    <!-- <div flex hyphe-prefix-slider ng-class="{blurred: $parent.$parent.activeRow != $index}"></div> -->
                    <div flex hyphe-prefix-slider row-active="$parent.$parent.activeRow == $index" obj="obj" conflicts-index="$parent.$parent.conflictsIndex"></div>
                    
                    <!-- Added when conflicts are anticipated -->
                    <div ng-if="obj.conflicts.length > 0" class="conflicts">
                      <small md-colors="{'color': 'default-background-600'}">
                        Same web entity defined row{{obj.conflicts.length|plural}} <span ng-repeat="r in obj.conflicts track by $index">{{r+1}}{{ $index == obj.conflicts.length-1 ? '' : $index == obj.conflicts.length-2 ? ' and ' : ', '}}</span>
                      </small>
                    </div>

                  </div>

                  <!-- Created -->
                  <div
                    ng-if="obj.status == 'created'"
                    style="padding:8px"
                  >
                    <strong>{{obj.status|titlecase}}</strong>
                    as {{obj.webentity.name}}
                  </div>

                  <!-- Existing -->
                  <div
                    ng-if="obj.status == 'existing'"
                    style="padding:8px"
                    md-colors="{color:'default-primary-500'}"
                  >
                    <strong>{{obj.status|titlecase}}</strong>
                    as {{obj.webentity.name}}
                  </div>

                  <div
                    ng-if="obj.status == 'merging'"
                    style="padding:8px"
                    md-colors="{color:'default-primary-500'}"
                  >
                    <strong>{{obj.status|titlecase}}</strong>
                    with {{obj.webentity.name}}
                  </div>

                  <!-- Conflicted -->
                  <div
                    ng-if="obj.status == 'conflict'"
                    md-colors="{background: 'default-accent-100', color:'default-accent-700'}"
                    style="padding: 8px"
                    layout="column"
                  >
                    <div>
                      <strong>{{obj.status|titlecase}}</strong> - web entity defined in a previous row
                    </div>

                    <div style="font-size: 0.8em" md-colors="{color:'default-accent-500'}">
                      URL: <a href="{{obj.url}}" target="_blank">{{obj.url}}</a>
                      LRU prefixes:
                      <span ng-repeat="lru in obj.prefixes">{{lru}} </span>
                    </div>
                  </div>

                  <!-- Error -->
                  <div
                    ng-if="obj.status == 'error'"
                    md-colors="{background: 'default-warn-100', color:'default-warn-700'}"
                    style="padding: 8px"
                    layout="column"
                  >
                    <div>
                      <strong>ERROR</strong>
                    </div>

                    <div style="font-size: 0.8em" md-colors="{color:'default-warn-500'}">
                      URL: <a href="{{obj.url}}" target="_blank">{{obj.url}}</a>
                      Info: {{obj.infoMessage}}
                    </div>
                  </div>

                </div>

                <div class="define-entity-row-remove" layout="column" layout-align="start end">
                  <md-button
                    class="md-icon-button"
                    ng-click="removeLine(obj.id)"
                    ng-show="$parent.activeRow == $index && obj.status=='loaded'"
                  >
                    <md-icon>close</md-icon>
                  </md-button>
                </div>

              </div>
            </md-virtual-repeat-container>
          </div>

          <!-- Create web entities -->
          <div
            ng-if="(createdList.length + existingList.length == 0 || retry) && !(creating || loadingWebentities || simulatingCreationRules)"
            layout="column" layout-align="center center"
            md-colors="{'background': 'default-background-100-0.5'}"
          >
            <md-button
              class="md-primary md-raised"
              ng-click="createWebEntities()"
              ng-show="list.length"
            >CREATE WEB ENTIT{{list.length | y_ies | uppercase}}</md-button>
          </div>

          <!-- Post diagnostic -->
          <div
            ng-if="createdList.length + existingList.length > 0"
            layout="column"
          >
            <div style="padding: 8px;">
              <h1>{{createdList.length}} web entit{{createdList.length | y_ies}} created</h1>
            </div>

            <div layout="row" style="padding: 8px">

              <!-- Errors -->
              <div
                flex="25"
                layout="column"
                style="padding:8px"
                ng-if="errorList.length > 0"
                md-colors="{background: 'default-warn-100', color:'default-warn-700'}"
              >
                <div style="height: 60px; text-align: center;">
                  {{errorList.length}} URL{{errorList.length | plural}}
                  <br/>
                  {{errorList.length | were_was}} ignored
                </div>
                <div style="height: 60px" layout="column" layout-align="center center">
                  <md-button class="md-raised md-warn" ng-click="doRetry(retryConflicted)">RETRY</md-button>
                </div>
              </div>

              <!-- Conflicted -->
              <div
                flex="25"
                layout="column"
                style="padding:8px"
                ng-if="conflictedList.length > 0"
                md-colors="{background: 'default-accent-100', color:'default-accent-700'}"
              >
                <div style="height: 60px; text-align: center;">
                  {{conflictedList.length}} web entit{{conflictedList.length | y_ies}}
                  <br/>
                  {{conflictedList.length | were_was}} previously defined
                </div>
                <div style="height: 60px" layout="column" layout-align="center center">
                  <md-checkbox class="md-accent" ng-model="$parent.$parent.retryConflicted" ng-if="errorList.length > 0">
                    Retry as well
                  </md-checkbox>
                  <md-button class="md-raised md-accent" ng-if="errorList.length == 0" ng-click="doRetry(true)">RETRY</md-button>
                </div>
              </div>

              <!-- Created -->
              <div
                flex="25"
                layout="column"
                style="padding:8px"
                ng-if="createdList.length > 0"
                md-colors="{background: 'default-background-100'}"
              >
                <div style="height: 60px; text-align: center;">
                  {{createdList.length}} web entit{{createdList.length | y_ies}}
                  <br/>
                  {{createdList.length | were_was}} created
                </div>
                <div style="height: 60px" layout="column" layout-align="center center">
                  <md-button class="md-raised" ng-click="doCrawl(crawlExisting)">CRAWL WEB ENTIT{{createdList.length | y_ies | uppercase}}</md-button>
                </div>
              </div>

              <!-- Existing -->
              <div
                flex="25"
                layout="column"
                style="padding:8px"
                ng-if="existingList.length > 0"
                md-colors="{background: 'default-primary-100', color:'default-primary-700'}"
              >
                <div style="height: 60px; text-align: center;">
                  {{existingList.length}} web entit{{existingList.length | y_ies}}
                  <br/>
                  which already existed<br/>
                  {{existingList.length | were_was}} completed with startpages
                </div>
                <div style="height: 60px" layout="column" layout-align="center center">
                  <md-checkbox class="md-primary" ng-model="$parent.$parent.crawlExisting" ng-if="createdList.length > 0">
                    Crawl as well
                  </md-checkbox>
                  <md-button class="md-raised md-primary" ng-if="createdList.length == 0" ng-click="doCrawl(true)">CHECK &amp; CRAWL</md-button>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
