<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              EXPORT WEB ENTITIES
            </h1>
            <span class="md-subhead">
              Pick a file format and download the list of <span hyphe-glossary="web entities"></span> and their attributes.
            </span>
          </div>
          
          <div class="vspacer"></div>

          <div layout="row">
            <div flex layout="column" style="padding: 8px">
              <div layout-fill>
                <div layout="row">
                  <div class="big-bullet-number">1</div>
                  <div layout="column">
                    <div class="md-headline" style="margin-bottom: 16px">
                      Filter web entities by status
                    </div>
                    <hyphe-status-box
                      statuses="statuses"
                      counts="counts"
                      change="touchSettings()"
                    ></hyphe-status-box>
                  </div>
                </div>

                <div class="vspacer"></div>

                <div layout="row">
                  <div class="big-bullet-number">2</div>
                  <div layout="column">
                    <div class="md-headline" style="margin-bottom: 16px">
                      Compact or Full?
                    </div>
                    <md-radio-group ng-model="dataVolume" class="md-primary">
                      <md-radio-button value="compact" class="md-align-top-left">
                        Compact<br/>
                        <span style="font-size: 0.9em">
                          These fields only: <span ng-repeat="fid in compactFields">{{fields[fid].name}}{{$last ? '' : ', '}} </span>
                        </span>
                      </md-radio-button>

                      <md-radio-button value="full" class="md-align-top-left">
                        Full<br/>
                        <span style="font-size: 0.9em">
                          All fields
                        </span>
                      </md-radio-button>
                    </md-radio-group>
                  </div>
                </div>

                <div class="vspacer"></div>

                <div layout="row">
                  <div class="big-bullet-number">3</div>
                  <div layout="column">
                    <div class="md-headline" style="margin-bottom: 16px">
                      File format
                    </div>
                    <md-radio-group ng-model="fileFormat" class="md-primary">

                      <md-radio-button value="CSV" class="md-align-top-left">
                        CSV<br/>
                        <span style="font-size: 0.9em">
                          <kbd>,</kbd> <strong>Comma</strong>-separated values 
                        </span>
                      </md-radio-button>

                      <md-radio-button value="SCSV" class="md-align-top-left">
                        SCSV<br/>
                        <span style="font-size: 0.9em">
                          <kbd>;</kbd> <strong>Semicolon</strong>-separated values 
                        </span>
                      </md-radio-button>

                      <md-radio-button value="TSV" class="md-align-top-left">
                        TSV<br/>
                        <span style="font-size: 0.9em">
                          <kbd>⇥</kbd> <strong>Tab</strong>-separated values (Excel)
                        </span>
                      </md-radio-button>

                      <md-radio-button value="JSON" class="md-align-top-left">
                        JSON<br/>
                        <span style="font-size: 0.9em">
                          A machine-readable tree-like data structure
                        </span>
                      </md-radio-button>

                      <md-radio-button value="TEXT" class="md-align-top-left">
                        TEXT / MD<br/>
                        <span style="font-size: 0.9em">
                          Markdown readable as text
                        </span>
                      </md-radio-button>

                    </md-radio-group>
                  </div>
                </div>

                <div class="vspacer"></div>

                <div layout="row">
                  <div class="big-bullet-number">4</div>
                  <div layout="column">
                    <div class="md-headline" style="margin-bottom: 16px">
                      Name and Download
                    </div>
                    <md-input-container>
                      <label>File name</label>
                      <input
                        ng-model="projectName"
                        ng-press-enter="download()"
                      >
                    </md-input-container>
                    <div>
                      <md-button class="md-raised md-primary" layout-fill ng-click="download()" ng-disabled="loading">
                        <md-icon>file_download</md-icon>
                        Download
                      </md-button>
                    </div>
                  </div>
                </div>

                <div class="vspacer"></div>

                <div layout="column" ng-if="loading">
                  <div style="margin-bottom: 8px">
                    <em>Please wait while network data is loading</em>
                  </div>

                  <!-- IN -->
                  <div ng-if="statuses.in" style="height: 50px" layout="row" layout-align="start center">
                    <div style="margin-right: 8px; width: 50px">
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="indeterminate"
                        ng-if="data.in.loading && !data.in.total"
                      ></md-progress-circular>
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.in.loading && data.in.total"
                        value="{{100 * data.in.webentities.length / data.in.total}}"
                      ></md-progress-circular>
                      <md-progress-circular
                        style="opacity: 0.5"
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.in.loaded"
                        value="100"
                      ></md-progress-circular>
                    </div>
                    <div>
                      IN
                      <span
                        md-colors="{'color': 'default-primary'}"
                        ng-if="data.in.total"
                      >{{data.in.webentities.length}} / {{data.in.total}}</span>
                    </div>
                  </div>

                  <!-- UNDECIDED -->
                  <div ng-if="statuses.undecided" style="height: 50px" layout="row" layout-align="start center">
                    <div style="margin-right: 8px; width: 50px">
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="indeterminate"
                        ng-if="data.undecided.loading && !data.undecided.total"
                      ></md-progress-circular>
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.undecided.loading && data.undecided.total"
                        value="{{100 * data.undecided.webentities.length / data.undecided.total}}"
                      ></md-progress-circular>
                      <md-progress-circular
                        style="opacity: 0.5"
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.undecided.loaded"
                        value="100"
                      ></md-progress-circular>
                    </div>
                    <div>
                      UNDECIDED
                      <span
                        md-colors="{'color': 'default-primary'}"
                        ng-if="data.undecided.total"
                      >{{data.undecided.webentities.length}} / {{data.undecided.total}}</span>
                    </div>
                  </div>

                  <!-- OUT -->
                  <div ng-if="statuses.out" style="height: 50px" layout="row" layout-align="start center">
                    <div style="margin-right: 8px; width: 50px">
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="indeterminate"
                        ng-if="data.out.loading && !data.out.total"
                      ></md-progress-circular>
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.out.loading && data.out.total"
                        value="{{100 * data.out.webentities.length / data.out.total}}"
                      ></md-progress-circular>
                      <md-progress-circular
                        style="opacity: 0.5"
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.out.loaded"
                        value="100"
                      ></md-progress-circular>
                    </div>
                    <div>
                      OUT
                      <span
                        md-colors="{'color': 'default-primary'}"
                        ng-if="data.out.total"
                      >{{data.out.webentities.length}} / {{data.out.total}}</span>
                    </div>
                  </div>

                  <!-- DISCOVERED -->
                  <div ng-if="statuses.discovered" style="height: 50px" layout="row" layout-align="start center">
                    <div style="margin-right: 8px; width: 50px">
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="indeterminate"
                        ng-if="data.discovered.loading && !data.discovered.total"
                      ></md-progress-circular>
                      <md-progress-circular
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.discovered.loading && data.discovered.total"
                        value="{{100 * data.discovered.webentities.length / data.discovered.total}}"
                      ></md-progress-circular>
                      <md-progress-circular
                        style="opacity: 0.5"
                        md-diameter="42"
                        md-mode="determinate"
                        ng-if="data.discovered.loaded"
                        value="100"
                      ></md-progress-circular>
                    </div>
                    <div>
                      DISCOVERED
                      <span
                        md-colors="{'color': 'default-primary'}"
                        ng-if="data.discovered.total"
                      >{{data.discovered.webentities.length}} / {{data.discovered.total}}</span>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div layout="column" style="width: 300px; padding: 8px">
              <div class="md-title" style="margin-bottom: 16px">
                FIELDS
              </div>

              <md-list class="md-dense" flex>
                <md-list-item class="md-3-line md-long-text" ng-repeat="(fid, field) in fields">
                  <md-icon class="md-avatar-icon" ng-if="field.type == 'string'">format_quote</md-icon>
                  <md-icon class="md-avatar-icon" ng-if="field.type == 'number'">plus_one</md-icon>
                  <md-icon class="md-avatar-icon" ng-if="field.type != 'string' && field.type != 'number'">code</md-icon>
                  <md-tooltip md-direction="left"> {{ field.name }} as {{ field.type }} </md-tooltip>
                  <div class="md-list-item-text">
                    <h3> {{ field.name }} </h3>
                    <h4 style="line-height: 1.3"> {{ field.type }} </h4>
                    <p style="line-height: 1.3"> {{ field.description }} </p>
                  </div>
                </md-list-item>
              </md-list>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>