<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
        id="scrolling-element"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              HELP
            </h1>
            <span class="md-subhead" ng-bind-html="hyphePresentation">
            </span>
          </div>

          <div style="padding: 8px">
            <h2>
              GLOSSARY
            </h2>
            <div ng-repeat="def in definitions track by $index">
              <dl ng-class="{highlight: def.id == highlightedDefinition.id}">
                <dt><a name="def-{{def.id}}" id="def-{{def.id}}" href="#/project/{{corpusId}}/help/entry/{{def.entries[0]}}">#</a>&nbsp;<strong>{{def.title}}</strong></dt>
                <dd><span class="search-for-terms" ng-bind-html="def.definitionParsed"></span></dd>
              </dl>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>