<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
        id="scrolling-element"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              HELP
            </h1>
            <span class="md-subhead" ng-bind-html="hyphePresentation">
            </span>
          </div>

          <div style="padding: 8px" ng-if="hyBro">
            <h2>
              HYPHE BROWSER
            </h2>
            <div layout="row">
              <div style="width: 160px" layout="column" layout-align="center center">
                <img src="img/hybro.png" style="border: 2px solid #000">
              </div>
              <div flex style="padding-left: 16px" layout="column" layout-align="center">
                <p><strong>Hyphe Browser</strong> or "<strong>HyBro</strong>" is a separate application that connects to the same server. It complements the web interface and allows you to build your corpus <em>while browsing the web</em>.</p>
                <md-button
                  class="md-raised md-primary"
                  ng-href="{{hyBro}}"
                  target="_blank"
                >
                  <md-icon style="transform: rotateY(180deg)">
                    web
                  </md-icon>
                  Download Hyphe Browser
                </md-button>
              </div>
            </div>
          </div>

          <div style="padding: 8px">
            <h2>
              GLOSSARY
            </h2>
            <div ng-repeat="def in definitions track by $index">
              <dl ng-class="{highlight: def.id == highlightedDefinition.id}">
                <dt><a name="def-{{def.id}}" id="def-{{def.id}}" href="#/project/{{corpusId}}/help/entry/{{def.entries[0]}}">#</a>&nbsp;<strong>{{def.title}}</strong></dt>
                <dd><span class="search-for-terms" ng-bind-html="def.definitionParsed"></span></dd>
              </dl>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>