<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              WEB ENTITIES
            </h1>
          </div>

          <div layout="row" flex>
            <div layout="column" flex="70">
              
              <!-- Filtering -->
              <div layout="column">
                <!-- <md-toolbar>
                  <div class="md-toolbar-tools">
                    <md-icon>filter_list</md-icon>
                    <h2 md-truncate flex>FILTERING</h2>
                  </div>
                </md-toolbar> -->
                <div style="padding: 8px" layout="column">
                  <div class="md-title">Filtering</div>

                  <!-- Status selector -->
                  <hyphe-status-box
                    statuses="statuses"
                    counts="counts"
                    change="touchSettings()"
                    disabled="loading"
                  ></hyphe-status-box>

                  <div layout="row">

                    <!-- Search -->
                    <md-input-container flex>
                      <label>Type a query</label>
                      <md-icon>search</md-icon>
                      <input
                        focus-me="{{true}}"
                        ng-model="query"
                        ng-change="touchSettings()"
                        ng-press-enter="applySettings()"
                      >
                    </md-input-container>

                  </div>

                </div>
              </div>

              <!-- Infinite list -->
              <div flex>TODO: Infinite list</div>
            </div>

            <!-- Actions -->
            <div layout="column" flex="30">
              TODO: Actions
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>