<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              WEB ENTITIES
            </h1>
          </div>

          <div layout="row" flex>
            <div layout="column" flex="70">
              
              <!-- Filtering -->
              <div layout="column">
                <!-- <md-toolbar>
                  <div class="md-toolbar-tools">
                    <md-icon>filter_list</md-icon>
                    <h2 md-truncate flex>FILTERING</h2>
                  </div>
                </md-toolbar> -->
                <div style="padding: 8px" layout="column">

                  <!-- Status selector -->
                  <hyphe-status-box
                    statuses="statuses"
                    counts="counts"
                    change="touchSettings()"
                    disabled="loading"
                  ></hyphe-status-box>

                  <!-- Search -->
                  <md-input-container flex>
                    <label>Type a query</label>
                    <md-icon>search</md-icon>
                    <input
                      focus-me="{{true}}"
                      ng-model="query"
                      ng-change="touchSettings()"
                      ng-press-enter="applySettings()"
                    >
                  </md-input-container>

                  <!-- Validation -->
                  <div layout="row">
                    <div flex></div>
                    <div>
                      <md-button
                        ng-click="revertSettings()"
                        ng-disabled="!settingsChanged"
                      >
                        CANCEL
                      </md-button>
                      <md-button
                        class="md-raised md-primary"
                        ng-click="applySettings()"
                        ng-disabled="!settingsChanged"
                      >
                        APPLY CHANGES
                      </md-button>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Infinite list -->
              <div flex>
                <md-virtual-repeat-container layout-fill ng-if="dynamicWebentities">
                  <md-list>
                    <md-list-item
                      md-virtual-repeat="obj in dynamicWebentities"
                      md-item-size="48"
                      md-on-demand
                      class="crawljob-list-item"
                      flex
                    >
                      <md-checkbox ng-model="obj.selected" ng-disabled="!obj.webentity"></md-checkbox>
                      <p md-truncate flex>
                        {{obj.webentity.name || 'Loading'}}
                      </p>
                      <div style="width: 20px">
                        X
                      </div>
                      <div style="width: 20px">
                        X
                      </div>
                    </md-list-item>
                  </md-list>
                </md-virtual-repeat-container>
              </div>
            </div>

            <!-- Actions -->
            <div layout="column" flex="30">
              TODO: Actions
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>