<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              WEB ENTITIES
            </h1>
          </div>

          <div layout="row" flex>
            <div layout="column" flex="70">
              
              <!-- Filtering -->
              <div layout="column">
                <!-- <md-toolbar>
                  <div class="md-toolbar-tools">
                    <md-icon>filter_list</md-icon>
                    <h2 md-truncate flex>FILTERING</h2>
                  </div>
                </md-toolbar> -->
                <div style="padding: 8px" layout="column">

                  <!-- Status selector -->
                  <hyphe-status-box
                    statuses="statuses"
                    counts="counts"
                    change="touchSettings()"
                    disabled="loading"
                  ></hyphe-status-box>

                  <div layout="row">

                    <!-- Search -->
                    <md-input-container flex style="margin-bottom: 0px">
                      <label>Type a query</label>
                      <md-icon>search</md-icon>
                      <input
                        focus-me="{{true}}"
                        ng-model="query"
                        ng-change="touchSettings()"
                        ng-press-enter="applySettings()"
                      >
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                      <!-- Validation -->
                      <md-button
                        class="md-raised md-primary"
                        ng-click="applySettings()"
                        ng-disabled="!settingsChanged"
                      >
                        APPLY CHANGES
                      </md-button>
                      <md-button
                        ng-click="revertSettings()"
                        ng-disabled="!settingsChanged"
                      >
                        CANCEL
                      </md-button>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Infinite list -->
              <div flex style="padding-left: 8px">
                <md-virtual-repeat-container layout-fill ng-if="dynamicWebentities">
                  <md-list>
                    <md-list-item
                      md-virtual-repeat="obj in dynamicWebentities"
                      md-item-size="48"
                      md-on-demand
                      class="crawljob-list-item"
                      md-colors="{
                        'background': obj.selected ? 'default-accent-100' : 'default-background-200'
                      }"
                      flex
                    >
                      <md-checkbox ng-model="obj.selected" ng-disabled="!obj.webentity"></md-checkbox>
                      <p flex layout="row">
                        <a
                          ng-show="obj.webentity.homepage"
                          href="{{obj.webentity.homepage}}"
                          target="_blank"
                          ng-click="$event.stopPropagation();"
                          style="margin-right:2px"
                        >
                          <md-tooltip md-direction="left">{{obj.webentity.homepage}}</md-tooltip>
                          <md-icon>link</md-icon>
                        </a>
                        <span md-truncate flex>
                          {{obj.webentity.name || 'Loading'}}
                        </span>
                      </p>
                      <div
                        class="welist-col-status"
                        md-truncate
                        ng-class="{
                          'webentity-color-in':obj.webentity.status == 'IN',
                          'webentity-color-undecided':obj.webentity.status == 'UNDECIDED',
                          'webentity-color-out':obj.webentity.status == 'OUT',
                          'webentity-color-discovered':obj.webentity.status == 'DISCOVERED'
                        }"
                      >
                        {{obj.webentity.status}}
                      </div>
                      <div
                        class="welist-col-last-crawled"
                        hide show-gt-sm
                      >
                        <md-icon ng-show="obj.webentity.crawled">
                          <md-tooltip md-direction="right">Has been crawled</md-tooltip>
                          check
                        </md-icon>
                      </div>
                      <div
                        class="welist-col-cited"
                      >
                        {{obj.webentity.indegree || '?'}}
                      </div>
                      <div
                        class="welist-col-last-modif"
                        hide show-gt-md
                      >
                        <span md-truncate>
                          <md-tooltip md-direction="right">{{obj.webentity.last_modification_date|date}}</md-tooltip>
                          {{obj.webentity.last_modification_date|prettyDate}}
                        </span>
                      </div>
                      <webentity-link class="md-secondary" corpus-id="corpusId" webentity-id="obj.webentity.id"></webentity-link>
                    </md-list-item>
                  </md-list>
                </md-virtual-repeat-container>
              </div>
            </div>

            <!-- Actions -->
            <div layout="column" flex="30">
              TODO: Actions
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>