    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="welcome-column">
            <img src="img/hyphe logo med.png"/ title="hyphe-logo">
            <h1>hyphe</h1>
            <br/>
            <br/>

            <table class="table">
              <tr ng-repeat="corpus in corpusList">
                <td>
                  <strong>
                    {{corpus.name}}
                    <span ng-if="corpus.ready">
                      <span class="glyphicon glyphicon-ok-sign"></span>
                    </span>
                    <small ng-if="!corpus.ready"> (not ready)</small>
                  </strong>
                  <br>
                  <small><code>id: {{corpus.corpus_id}}</code></small>
                </td>
                <td>
                  Created <span tooltip="{{corpus.created_at|date}}">{{corpus.created_at|prettyDate}}</span>
                  <br>
                  Last activity <span tooltip="{{corpus.last_activity|date}}">{{corpus.last_activity|prettyDate}}</span>
                  <br>
                  Last indexation <span tooltip="{{corpus.last_index_loop|date}}">{{corpus.last_index_loop|prettyDate}}</span>
                  <br>
                  Last link building <span tooltip="{{corpus.last_links_loop|date}}">{{corpus.last_links_loop|prettyDate}}</span>
                </td>
                <td>
                  <span ng-if="corpus.password"><span class="glyphicon glyphicon-lock"></span> Protected</span>
                  <span ng-if="!corpus.password">Not protected</span>
                </td>
                <td></td>
                <td>{{corpus.status}}</td>
                <td>{{corpus.total_crawls}}</td>
                <td>{{corpus.total_pages}}</td>
                <td>{{corpus.total_pages_crawled}}</td>
                <td>{{corpus.total_webentities}}</td>
                <td>{{corpus.webentities_discovered}}</td>
                <td>{{corpus.webentities_in}}</td>
                <td>{{corpus.webentities_out}}</td>
                <td>{{corpus.webentities_undecided}}</td>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
