    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="welcome-column">
            <a href="#/login">
              <img src="img/hyphe logo med.png"/ title="hyphe-logo">
            </a>
            <h1>hyphe</h1>
            <br/>
            <br/>

            <table class="table">
              <tr>
                <th>Project</th>
                <th>Status</th>
                <th><dl class="dl-horizontal"><dt>Time</dt></dl></th>
                <th><dl class="dl-horizontal"><dt>Crawl</dt></dl></th>
                <th><dl class="dl-horizontal"><dt>Web Entities</dt></dl></th>
                <th>Actions</th>
              </tr>
              
              <tr ng-repeat="corpus in corpusList">

                <td>
                  <strong class="project-name">
                    {{corpus.name}}
                  </strong>
                  <br>
                  <span ng-if="corpus.ready" class="text-success">
                    <span class="glyphicon glyphicon-ok-sign"></span> ready
                  </span>
                  <small ng-if="!corpus.ready">not ready</small>
                  <br>
                  <small><code>id: {{corpus.corpus_id}}</code></small>
                </td>

                <td>
                  <span class="label label-primary">{{corpus.status}}</span>

                  <span class="label label-default">
                    <span class="label label-warning"><span ng-if="corpus.password"><span class="glyphicon glyphicon-lock"></span> Password Protected</span></span>
                    <span ng-if="!corpus.password">Not protected</span>
                  </span>

                </td>

                <td>
                  <dl class="dl-horizontal">

                    <dt>created</dt>
                    <dd><span tooltip="{{corpus.created_at|date}}">{{corpus.created_at|prettyDate}}</span></dd>

                    <dt>last activity</dt>
                    <dd><span tooltip="{{corpus.last_activity|date}}">{{corpus.last_activity|prettyDate}}</span></dd>

                    <dt>last index</dt>
                    <dd><span tooltip="{{corpus.last_index_loop|date}}">{{corpus.last_index_loop|prettyDate}}</span></dd>

                    <dt>last links</dt>
                    <dd><span tooltip="{{corpus.last_links_loop|date}}">{{corpus.last_links_loop|prettyDate}}</span></dd>

                  </dl>
                </td>

                <td>
                  <dl class="dl-horizontal">

                    <dt>Crawls</dt>
                    <dd>{{corpus.total_crawls}}</dd>

                    <dt>Crawled pages</dt>
                    <dd>{{corpus.total_pages_crawled}}</dd>

                    <dt>Pages</dt>
                    <dd>{{corpus.total_pages}}</dd>

                  </dl>
                </td>

                <td>
                  <dl class="dl-horizontal">

                    <dt>IN</dt>
                    <dd>{{corpus.webentities_in}}</dd>

                    <dt>UNDECIDED</dt>
                    <dd>{{corpus.webentities_undecided}}</dd>

                    <dt>OUT</dt>
                    <dd>{{corpus.webentities_out}}</dd>

                    <dt>DISCOVERED</dt>
                    <dd>{{corpus.webentities_discovered}}</dd>

                    <dt>TOTAL</dt>
                    <dd>{{corpus.total_webentities}}</dd>

                  </dl>
                </td>

                <td>
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-default">START</button>
                    <button class="btn btn-default">STOP</button>
                    <button class="btn btn-default">OPEN</button>
                  </div>
                  <button class="btn btn-sm btn-danger">DESTROY</button>
                </td>

              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
