<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              TAGS {{searchQuery}}
            </h1>
            <span class="md-subhead">
              Filter <span hyphe-glossary="web entities"></span> (status <em>IN</em> only). Tag one or a group of them.
            </span>
          </div>

          <div layout-fill layout="column" layout-align="center center" ng-if="loading">
            <spinner></spinner>
          </div>

          <md-content layout="row" layout-align="start center" ng-if="!loading" md-colors="{'background':'default-background-100-0.5'}" style="height: 88px">
            <md-card ng-repeat="filter in filters">
              <md-card-header layout="row" style="padding: 16px 4px">
                <md-card-avatar>
                  <md-icon class="md-avatar-icon">local_offer</md-icon>
                </md-card-avatar>
                <md-card-header-text flex>
                  <span class="md-title">{{filter.name}}</span>
                  <span class="md-subhead">{{filter.type == 'special' ? 'All web entities' : filter.tagCat}}</span>
                </md-card-header-text>
                <div layout="column" layout="center center">
                  <md-button class="md-icon-button" ng-click="filter.remove()">
                    <md-icon>close</md-icon>
                  </md-button>
                </div>
              </md-card-header>
            </md-card>

            <!-- Search card -->
            <md-card ng-if="searchQuery && searchQuery.length > 0">
              <md-card-header layout="row" style="padding: 16px 4px">
                <md-card-avatar>
                  <md-icon class="md-avatar-icon">search</md-icon>
                </md-card-avatar>
                <md-card-header-text flex>
                  <span class="md-title">{{searchQuery}}</span>
                  <span class="md-subhead">Search</span>
                </md-card-header-text>
                <div layout="column" layout="center center">
                  <md-button class="md-icon-button" ng-click="$parent.$parent.searchQuery = ''">
                    <md-icon>close</md-icon>
                  </md-button>
                </div>
              </md-card-header>
            </md-card>
          </md-content>

          <md-tabs md-border-bottom flex md-selected="selectedTab" ng-if="!loading">
            
            <!-- Tab: TAGS -->
            <md-tab>
              <md-tab-label><md-icon>local_offer</md-icon> Tags</md-tab-label>
              <md-tab-body>
                <div layout-fill layout="column" style="padding: 8px">
                  <p class="md-title">Special filters</p>
                  <md-radio-group ng-model="$parent.generalOption" ng-change="touchSpecialOption()">

                    <md-radio-button value="untagged"> Untagged </md-radio-button>
                    <md-radio-button value="partiallyUntagged"> Partially untagged </md-radio-button>
                    <md-radio-button value="conflicts"> Conflicts </md-radio-button>

                  </md-radio-group>
                  <hr>

                  <div ng-repeat="(tagCat, tagValues) in tagCategories" layout="column">
                    <p class="md-title">{{tagCat}}</p>
                    <md-checkbox ng-model="tagCategoriesUntagged[tagCat]" aria-label="Untagged" ng-change="touchUntagged(tagCat)">
                      <em>Untagged</em>
                    </md-checkbox>
                    <div ng-repeat="(val, valData) in tagValues">
                      <md-checkbox ng-model="valData.selected" aria-label="{{val}}" ng-change="touchTagValue(tagCat)">
                        {{val}} <em md-colors="{'color':'default-primary'}">{{valData.count|number}}</em>
                      </md-checkbox>
                    </div>
                  </div>

                </div>
              </md-tab-body>
            </md-tab>

            <!-- Tab: WEB ENTITIES -->
            <md-tab>
              <md-tab-label><md-icon>list</md-icon> Web entities list</md-tab-label>
              <md-tab-body>
                <div layout-fill layout="column">

                  <!-- Web entity settings -->
                  <div style="height: 72px; padding: 0px 8px" layout="row">
                    <md-input-container flex style="margin-right: 16px">
                      <label>Search</label>
                      <md-icon>search</md-icon>
                      <input
                        ng-model="$parent.searchQuery"
                      >
                    </md-input-container>
                    <md-input-container style="width: 240px">
                      <label>Display a category</label>
                      <md-select ng-model="$parent.displayCategory">
                        <md-option value=""><em>None</em></md-option>
                        <md-option
                          ng-repeat="(tagCat, tagValues) in tagCategories"
                          value="{{tagCat}}"
                        >{{tagCat}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <!-- Web entity list -->
                  <md-virtual-repeat-container flex>
                    <md-list>
                      <md-list-item
                        md-virtual-repeat="
                          webentity in data.in.webentities
                            | filter:searchQuery:false:name
                            | tagFilter:filters:tagCategories
                        "
                        md-item-size="48"
                        flex
                      >
                        <md-checkbox ng-model="webentity.selected"></md-checkbox>
                        <p flex layout="row">
                          <a
                            ng-show="webentity.homepage"
                            href="{{webentity.homepage}}"
                            target="_blank"
                            ng-click="$event.stopPropagation();"
                            style="margin-right:2px"
                          >
                            <md-tooltip md-direction="left">{{webentity.homepage}}</md-tooltip>
                            <md-icon>link</md-icon>
                          </a>
                          <span md-truncate flex>
                            {{webentity.name}}
                          </span>
                        </p>
                        <md-chips
                          class="md-secondary md-chips-no-line"
                          ng-if="displayCategory"
                          ng-model="webentity.tags.USER[displayCategory]"
                          readonly="true"
                          md-removable="false"
                        >
                        </md-chips>
                      </md-list-item>
                    </md-list>
                  </md-virtual-repeat-container>

                </div>
              </md-tab-body>
            </md-tab>

            <!-- Tab: NETWORK -->
            <md-tab>
              <md-tab-label><md-icon>bubble_chart</md-icon> Web entities network</md-tab-label>
              <md-tab-body>
                <div layout-fill layout="column">
                  
                </div>
              </md-tab-body>
            </md-tab>

          </md-tabs>

        </div>

      </div>
    </div>
  </div>
</div>