<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              TAGS
            </h1>
            <span class="md-subhead">
              Filter <span hyphe-glossary="web entities"></span> (status <em>IN</em> only). Tag one or a group of them.
            </span>
          </div>

          <div style="background-color: #F88; height: 72px" layout="row" layout-align="center center">
            FILTER SUMMARY (TODO)
          </div>

          <md-tabs md-border-bottom flex md-selected="selectedTab">
            
            <!-- Tab: TAGS -->
            <md-tab>
              <md-tab-label><md-icon>local_offer</md-icon> Tags</md-tab-label>
              <md-tab-body>
                <div layout-fill layout="column" style="padding: 8px">
                  <p class="md-title">Special filters</p>
                  <md-radio-group ng-model="generalOption" ng-change="touchSpecialOption()">

                    <md-radio-button value="untagged"> Untagged </md-radio-button>
                    <md-radio-button value="partiallyUntagged"> Partially untagged </md-radio-button>
                    <md-radio-button value="conflicts"> Conflicts </md-radio-button>

                  </md-radio-group>
                  <hr>

                  <div ng-repeat="(tagCat, tagValues) in tagCategories" layout="column">
                    <p class="md-title">{{tagCat}}</p>
                    <md-checkbox ng-model="tagCategoriesUntagged[tagCat]" aria-label="Untagged" ng-change="touchUntagged(tagCat)">
                      <em>Untagged</em>
                    </md-checkbox>
                    <div ng-repeat="(val, valData) in tagValues">
                      <md-checkbox ng-model="valData.selected" aria-label="{{val}}" ng-change="touchTagValue(tagCat)">
                        {{val}} <em>{{valData.count}}</em>
                      </md-checkbox>
                    </div>
                  </div>

                </div>
              </md-tab-body>
            </md-tab>

            <!-- Tab: WEB ENTITIES -->
            <md-tab>
              <md-tab-label><md-icon>list</md-icon> Web entities</md-tab-label>
              <md-tab-body>
                <div layout-fill layout="column">

                </div>
              </md-tab-body>
            </md-tab>

            <!-- Tab: NETWORK -->
            <md-tab>
              <md-tab-label><md-icon>bubble_chart</md-icon> Network</md-tab-label>
              <md-tab-body>
                <div layout-fill layout="column">

                </div>
              </md-tab-body>
            </md-tab>

          </md-tabs>

        </div>

      </div>
    </div>
  </div>
</div>