    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-8">

                <br>

                <div class="sigma-parent" ng-if="!loading" ng-init="initSigma()">
                  <div class="sigma-expand" id="sigma-example"></div>
                  <div class="sigma-tools">
                    <div class="btn-group-vertical">
                      <button 
                        type="button"
                        class="btn btn-primary btn-xs"
                        ng-click="toggleSpatialization()"
                        tooltip-placement="right"
                        tooltip="{{spatializationRunning ? 'Stop layout' : 'Run layout'}}"
                      >
                        <span class="glyphicon glyphicon-play" ng-if="!spatializationRunning"></span>
                        <span class="glyphicon glyphicon-pause" ng-if="spatializationRunning"></span>
                      </button>
                      <button
                        type="button"
                        class="btn btn-link btn-xs"
                        ng-click="sigmaRecenter()"
                        tooltip-placement="right"
                        tooltip="Recenter"
                      >
                        <span class="glyphicon glyphicon-record"></span>
                      </button>
                      <button
                        type="button"
                        class="btn btn-link btn-xs"
                        ng-click="sigmaZoom()"
                        tooltip-placement="right"
                        tooltip="Zoom"
                      >
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      <button
                        type="button"
                        class="btn btn-link btn-xs"
                        ng-click="sigmaUnzoom()"
                        tooltip-placement="right"
                        tooltip="Dezoom"
                      >
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                  </div>
                </div>
                
                <div ng-if="loading">
                  <spinner text="'LOADING NETWORK'"/>
                </div>

              </div>
              <div class="col-md-4 network-settings-column">

                <br>

                <div class="flatpanel">
                  <div class="flatpanel-heading">
                    FILTERS
                  </div>
                  <div class="flatpanel-body">
                    
                    <div class="flatpanel-textblock">
                      <h5>Presets</h5>
                      <div class="btn-group">
                        <label
                          class="btn btn-default btn-sm"
                          ng-model="presets.corpus.status"
                          ng-change="applyPreset('corpus')"
                          ng-class="{disabled:loading}"
                          btn-checkbox
                        >CORPUS ONLY</label>

                        <label
                          class="btn btn-default btn-sm"
                          ng-model="presets.prospection.status"
                          ng-change="applyPreset('prospection')"
                          ng-class="{disabled:loading}"
                          btn-checkbox
                        >PROSPECTION</label>

                        <label
                          class="btn btn-default btn-sm"
                          ng-model="presets.full.status"
                          ng-change="applyPreset('full')"
                          ng-class="{disabled:loading}"
                          btn-checkbox
                        >FULL DATA</label>

                      </div>
                    </div>

                    <div class="flatpanel-textblock flatpanel-separated">
                      <div class="row">
                        <div class="col-lg-4">
                          
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_in"> IN
                              </label>
                            
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4">
                          
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_undecided"> UNDECIDED
                              </label>
                            </div>
                          
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4">
                          
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_out"> OUT
                              </label>
                            </div>
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_discovered"> DISCOVERED
                              </label>
                            </div>
                          
                        </div>
                        <div class="col-lg-8">
                          
                            <select class="form-control" ng-change="touchSettings()" ng-disabled="loading" ng-model="discoveredMinDegree">
                              <option value="0">Display every discovered</option>
                              <option value="2">Cited by 2+ entities only</option>
                              <option value="3">Cited by 3+ entities only</option>
                              <option value="4">Cited by 4+ entities only</option>
                              <option value="5">Cited by 5+ entities only</option>
                            </select>
                            
                        </div>
                      </div>

                    </div>

                    <div class="flatpanel-textblock flatpanel-right flatpanel-separated" collapse="!settingsChanged">
                      <button class="btn btn-default" ng-click="revertSettings()"><span class="glyphicon glyphicon-remove"></span> CANCEL</button>
                      <button class="btn btn-primary" ng-click="applySettings()"><span class="glyphicon glyphicon-ok"></span> APPLY CHANGES</button>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
