<div class="container-fluid fullheight">
  <div class="row no-gutter" ng-include="'partials/topbar_fixed.html'">
  </div>
  <div class="fullheight-side-panel" ng-include="'partials/sidebar.html'"></div>
  <div class="fullheight-main-panel">
    <div ng-if="loading">
      <spinner text="'LOADING NETWORK'"/>
    </div>
    <div
      class="sigma-parent"
      ng-if="!loading"
      ng-class="{pointable: overNode}"
    >
      <div class="sigma-expand" id="sigma"></div>
      <div class="sigma-tools">
        <div class="btn-group-vertical">
          <button 
            type="button"
            class="btn btn-primary btn-xs"
            ng-click="toggleSpatialization()"
            tooltip-placement="right"
            tooltip="{{spatializationRunning ? 'Stop layout' : 'Run layout'}}"
          >
            <span class="glyphicon glyphicon-play" ng-if="!spatializationRunning"></span>
            <span class="glyphicon glyphicon-pause" ng-if="spatializationRunning"></span>
          </button>
          <button
            type="button"
            class="btn btn-link btn-xs"
            ng-click="sigmaRecenter()"
            tooltip-placement="right"
            tooltip="Recenter"
          >
            <span class="glyphicon glyphicon-record"></span>
          </button>
          <button
            type="button"
            class="btn btn-link btn-xs"
            ng-click="sigmaZoom()"
            tooltip-placement="right"
            tooltip="Zoom"
          >
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button
            type="button"
            class="btn btn-link btn-xs"
            ng-click="sigmaUnzoom()"
            tooltip-placement="right"
            tooltip="Dezoom"
          >
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="network-key" ng-if="!loading">
      <div class="row">
        <div class="col-md-4">
          <h4>WEB ENTITY STATUS</h4>
          <p ng-if="show_in">
            <span class="dot dot-in"></span>&nbsp;IN
          </p>
          <p ng-if="show_undecided">
            <span class="dot dot-undecided"></span>&nbsp;UNDECIDED
          </p>
          <p ng-if="show_discovered">
            <span class="dot dot-discovered"></span>&nbsp;DISCOVERED
            <span class="text-info" ng-if="discoveredMinDegree>0"><br>Cited by {{discoveredMinDegree}}+ entities only</span>
          </p>
          <p ng-if="show_out">
            <span class="dot dot-out"></span>&nbsp;OUT
          </p>
        </div>
        <div class="col-md-4">
          <h4>SIZE</h4>
          <p>
            <span class="dot dot-small"></span>&nbsp;<span class="dot dot-medium"></span>&nbsp;<span class="dot dot-big"></span> DEGREE: Small web entities are linked to few others, big entities are linked with many others
          </p>
        </div>
        <div class="col-md-4">
          <h4>LINKS</h4>
          <p>
            <span class="line-link"></span> Hyperlink between entities
          </p>
          <br>
          <p>
            <button
              class="btn btn-default"
              ng-click="downloadNetwork()"
              ng-class="{disabled:loading}"
            >
              <span class="glyphicon glyphicon-download"></span>
              DOWNLOAD GEXF
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="sigma-floating">
      <div class="flatpanel">
        <div class="flatpanel-heading">
          FILTERS
        </div>
        <div class="flatpanel-body">
          
          <div class="flatpanel-textblock">
            <h5>Presets</h5>
            <div class="btn-group">
              <label
                class="btn btn-default btn-sm"
                ng-model="presets.corpus.status"
                ng-change="applyPreset('corpus')"
                ng-class="{disabled:loading}"
                btn-checkbox
              >CORPUS ONLY</label>

              <label
                class="btn btn-default btn-sm"
                ng-model="presets.prospection.status"
                ng-change="applyPreset('prospection')"
                ng-class="{disabled:loading}"
                btn-checkbox
              >PROSPECTION</label>

              <label
                class="btn btn-default btn-sm"
                ng-model="presets.full.status"
                ng-change="applyPreset('full')"
                ng-class="{disabled:loading}"
                btn-checkbox
              >FULL DATA</label>

            </div>
          </div>

          <div class="flatpanel-textblock flatpanel-separated">
            <div class="row">
              <div class="col-lg-5">
                <hyphe-status-box statuses="statuses" counts="counts"></hyphe-status-box>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_in"> IN ({{webentities.in.length}})
                    </label>
                  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-5">
                
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_undecided"> UNDECIDED ({{webentities.undecided.length}})
                    </label>
                  </div>
                
              </div>
            </div>

            <div class="row">
              <div class="col-lg-5">
                
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_discovered"> DISCOVERED ({{webentities.discovered.length}})
                    </label>
                  </div>
                
              </div>
              <div class="col-lg-7">
                
                  <select class="form-control" ng-change="touchDiscovered()" ng-disabled="loading" ng-model="discoveredMinDegree">
                    <option value="0">Display every discovered</option>
                    <option ng-show="webentities.discovered_2.length" value="2">Cited by 2+ entities only ({{webentities.discovered_2.length}})</option>
                    <option ng-show="webentities.discovered_3.length" value="3">Cited by 3+ entities only ({{webentities.discovered_3.length}})</option>
                    <option ng-show="webentities.discovered_4.length" value="4">Cited by 4+ entities only ({{webentities.discovered_4.length}})</option>
                    <option ng-show="webentities.discovered_5.length" value="5">Cited by 5+ entities only ({{webentities.discovered_5.length}})</option>
                  </select>
                  
              </div>
            </div>

            <div class="row">
              <div class="col-lg-5">
                
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-change="touchSettings()" ng-disabled="loading" ng-model="show_out"> OUT ({{webentities.out.length}})
                    </label>
                  </div>
                
              </div>
            </div>

            <div ng-show="unlinked_WEs" class="row">
              <div class="col-lg-7">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-change="toggleUnlinkedWEs()" ng-disabled="loading" ng-model="hide_unlinked_WEs"> Hide isolated web entities
                  </label>
                </div>
              </div>
            </div>

          </div>

          <div class="flatpanel-textblock flatpanel-right flatpanel-separated" collapse="!settingsChanged">
            <button class="btn btn-default" ng-click="revertSettings()"><span class="glyphicon glyphicon-remove"></span> CANCEL</button>
            <button class="btn btn-primary" ng-click="applySettings()"><span class="glyphicon glyphicon-ok"></span> APPLY CHANGES</button>
          </div>

        </div>

      </div>
    </div>



  </div>
</div>
