<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content (except destroy and reset) -->
        <div layout-fill layout="column" ng-show="!destroying && !resetting">
          <div class="page-header">
            <h1>
              SETTINGS
            </h1>
          </div>

          <!-- Loading -->
          <div ng-show="loading" flex layout="column" layout-align="center center">
            <spinner class="center" text="''"/>
          </div>

          <!-- Loaded: empty -->


          <!-- Loaded: action -->
          <div ng-show="!loading">
            <md-button
                class="md-raised md-primary"
                ng-click="editSettings()"
                ng-show="!corpusNotEmpty && !corpusSettingsEditMode"
                ng-disabled="saving"
            >
              <md-icon>settings_applications</md-icon>
              Edit settings
            </md-button>

            <md-button
                class="md-raised md-primary"
                ng-click="editSettings(true)"
                ng-show="!corpusNotEmpty && corpusSettingsEditMode"
                ng-disabled="date_error"
            >
              <md-icon>done</md-icon>
            Save Settings
            </md-button>

            <md-button
                ng-click="editSettings(false)"
                ng-show="!corpusNotEmpty && corpusSettingsEditMode"
            >
              <md-icon>clear</md-icon>
              Cancel
            </md-button>
            <md-button
              class="md-raised md-warn"
              ng-click="resetCorpus()"
              ng-show="corpusNotEmpty && !corpusSettingsEditMode"
            >
              <md-icon>delete</md-icon>
              RESET
            </md-button>

            <md-button
              class="md-warn"
              style="text-align: right "
              ng-click="destroy()"
              ng-show="!corpusSettingsEditMode"
              ng-disabled="saving"
            >
              <md-icon>delete_forever</md-icon>
              DESTROY CORPUS
            </md-button>
          </div>

          <!-- EDIT MODE -->
          <form style="padding: 4px" layout-wrap layout="row" ng-show="!loading && corpusSettingsEditMode">
            
            <!-- Crawling -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px" >
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">CRAWLING</h3>
                <dl class="key-value-pairs">
                  <dt>Maximum Depth</dt>
                  <md-input-container style="margin: 0px; height: 28px">
                    <input type="number" min="0" max="{{maxmax_depth}}" ng-model="ed_max_depth" aria-label="editMaxDepth">
                  </md-input-container>

                  <div layout = "column">
                    <dt style="margin-bottom: 18px">What StartPages to use by default when crawling a new Web Entity?</dt>
                    <div flex="50">
                      <md-checkbox ng-model="startpages_homepage" aria-label="StartPagesCheckbox">
                        its homepage
                      </md-checkbox>
                    </div>
                    <div flex="50">
                      <md-checkbox ng-model="startpages_prefixes" aria-label="prefixes-Checkbox">
                        its prefixes
                      </md-checkbox>
                    </div>

                    <div flex="50">
                      <md-checkbox ng-model="startpages_pages" aria-label="pages-n-Checkbox">
                      </md-checkbox>
                      its
                      <md-input-container style="width: 38px; margin: 0px; height: 33px">
                        <input ng-disabled="!startpages_pages" type="number" min="1" max="{{MAXPAGES}}" ng-model="nbOfPages" aria-label="nbOfPagesAsStartpages">
                      </md-input-container> most cited known pages
                    </div>
                  </div>
                </dl>
              </md-content>
            </div>

            <!-- Proxy -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">PROXY</h3>
                <dl class="key-value-pairs">

                  <dt>Host</dt>
                  <md-input-container style="width: 95%; margin: 0px; height: 28px">
                    <input ng-model="ed_proxy_host" aria-label="editHost">
                  </md-input-container>

                  <dt>Port</dt>
                  <md-input-container style="width: 60px; margin: 0px; height: 28px">
                    <input type="number" min="0" ng-model="ed_proxy_port" aria-label="editPort">
                  </md-input-container>

                </dl>

              </md-content>
            </div>

            <!-- Cautious Crawl -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px" ng-show="false">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">CAUTIOUS CRAWL</h3>
                <dl class="key-value-pairs">

                  <dt>Timeout</dt>
                  <md-input-container>
                    <input type="number" min="1" ng-model="ed_timeout" aria-label="editTimeout">
                  </md-input-container>

                  <dt>Ajax Timeout</dt>
                  <md-input-container>
                    <input type="number" min="1" ng-model="ed_ajax_timeout" aria-label="editAjaxTimeout">
                  </md-input-container>

                  <dt>Idle Timeout</dt>
                  <md-input-container>
                    <input type="number" min="1" ng-model="ed_idle_timeout" aria-label="editIdleTimeout">
                  </md-input-container>

                </dl>

              </md-content>
            </div>

            <!-- CAUTIOUS DOMAINS -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px" ng-show="false">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">CAUTIOUS DOMAINS</h3>

                <dl class="key-value-pairs" ng-if="options.phantom.whitelist_domains.length>0">
                  <dd ng-repeat="domain in ed_whitelist" >{{domain}}</dd>
                </dl>

                <dl class="key-value-pairs" ng-if="!options.phantom.whitelist_domains.length>0">
                  <dd><em>None</em></dd>
                </dl>

              </md-content>
            </div>

            <!-- Web Archives -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">CRAWL WEB ARCHIVES (experimental)</h3>
                <div class="disclaimer">
                  <div class="disclaimer-header">/!\ EXPERIMENTAL /!\</div>
                  <div class="text">This is an experimental feature: you should understand that crawling web archives is necessarily much slower since all crawls will query only one same server.</div>
                </div>

                <dl class="key-value-pairs">

                  <dt style="margin-bottom:18px">Choose a source of web archives:</dt>
                  <md-radio-group ng-model="ed_webarchive_option" class="md-primary" ng-change="setArchivesMinMaxDate()">
                    <div ng-repeat="option in webarchives_options">
                      <small>{{option.description}}</small>
                      <md-radio-button value="{{option.id}}" class="md-primary">{{option.label}}</md-radio-button>
                    </div>
                  </md-radio-group>

                  <div ng-hide="ed_webarchive_option === ''">
                    <dt>Date to try to approach</dt>
                    <div style="display: flex; justify-content: space-between; flex-wrap: nowrap">
                      <md-input-container style="margin: 0px; height: 28px; width: 50%">
                        <input id="datepicker" type="date" ng-model="datepicker_date" ng-change="setArchivesMinMaxDate()" style="text-align: center" aria-label="date to approach">
                      </md-input-container>
                      <small style="color: red; width: 62%" ng-show="date_error">{{ date_error }}</small>
                    </div>

                    <dt>Delay to consider before and after the date</dt>
                    <div layout="row" style="display: flex; justify-content: flex-start">
                      <md-input-container style="margin: 0px; height: 28px; width: 50%; text-align: center">
                        <md-select ng-model="ed_webarchive_daysrange_choice" ng-change="setArchivesMinMaxDate()" aria-label="authorized delay">
                          <md-option ng-repeat="(key, value) in webarchives_periods" value="{{ key }}">{{ value }}</md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container ng-show="ed_webarchive_daysrange_choice === 'custom'" style="margin: 0px; height: 28px; width: 33%">
                        <input type="number" min="1" max="10000" ng-model="ed_webarchive_daysrange_custom" ng-change="setArchivesMinMaxDate()" style="text-align: right" aria-label="number of days to accept before or after the date">
                      </md-input-container>
                      <span ng-show="ed_webarchive_daysrange_choice === 'custom'" style="padding-top: 5px">days</span>
                    </div>

                    <div style="text-align:center; margin-top: 10px">
                      <small><em>{{ webarchives_mindate }} &#x2794; {{ webarchives_maxdate }}</em></small>
                    </div>
                  </div>
                </dl>

              </md-content>
            </div>

            <!-- REDIRECTION DOMAINS -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">REDIRECTION DOMAINS</h3>
                    <md-chips
                            ng-model = "ed_follow_redirects"
                            type = "url"
                            readonly = false
                            md-removable = true
                            aria-label = "editRedirectionDomains"
                            placeholder="Add a domain"
                    >
                    </md-chips>
                <dl class="key-value-pairs" ng-if="!options.follow_redirects.length>0">
                  <dd><em>None</em></dd>
                </dl>

              </md-content>
            </div>

            <!-- WEBENTITY CREATION RULES -->
            <div flex="100" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">WEBENTITY CREATION RULES</h3>
                <dl class="key-value-pairs" ng-show="creationrules.length>0">
                  <dt style="margin-bottom:18px">Change the default creation rule:</dt>
                  <md-radio-group ng-model="ed_defaultCreationRule" class="md-primary">
                    <md-radio-button value="domain" class="md-primary">domain</md-radio-button>
                    <md-radio-button value="subdomain" class="md-primary">subdomain</md-radio-button>
                    <md-radio-button value="page" class="md-primary">page</md-radio-button>
                  </md-radio-group>
                </dl>
                <p>To add other domain specific creation rule, you should use the "Add a rule to split this in different Web Entities" button within the "As folders" section of an existing Web Entity</p>
              </md-content>
            </div>
          </form>

        <!-- Show -->
        <div style="padding: 4px"  layout-wrap layout="row" ng-show="!loading && !corpusSettingsEditMode" ng-class="{'blur-stuff': saving}">

          <!-- Crawling -->
          <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px" >
            <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
              <h3 style="margin:0px">CRAWLING</h3>
              <dl class="key-value-pairs">

                <dt>Maximum Depth</dt>
                <dd>{{options.max_depth}}</dd>

                <dt>What Startpages to use by default when crawling a new Web Entity?</dt>
                <dd>{{options.defaultStartpagesMode | arrayToString}}</dd>

              </dl>

            </md-content>
          </div>

          <!-- Proxy -->
          <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
            <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
              <h3 style="margin:0px">PROXY</h3>
              <dl class="key-value-pairs">

                <dt>Host</dt>
                <dd style="min-height: 22px">{{options.proxy.host}}</dd>

                <dt>Port</dt>
                <dd style="min-height: 22px">{{options.proxy.port}}</dd>

              </dl>

            </md-content>
          </div>

          <!-- Cautious Crawl -->
          <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px" ng-show="false">
            <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
              <h3 style="margin:0px">CAUTIOUS CRAWL</h3>
              <dl class="key-value-pairs">

                <dt>Timeout</dt>
                <dd>{{options.phantom.timeout}}</dd>

                <dt>Ajax Timeout</dt>
                <dd>{{options.phantom.ajax_timeout}}</dd>

                <dt>Idle Timeout</dt>
                <dd>{{options.phantom.idle_timeout}}</dd>

              </dl>

            </md-content>
          </div>

          <!-- CAUTIOUS DOMAINS -->
          <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px" ng-show = "false">
            <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
              <h3 style="margin:0px">CAUTIOUS DOMAINS</h3>

              <dl class="key-value-pairs" ng-if="options.phantom.whitelist_domains.length>0">
                <dd ng-repeat="domain in options.phantom.whitelist_domains" >{{domain}}</dd>
              </dl>

              <dl class="key-value-pairs" ng-if="!options.phantom.whitelist_domains.length>0">
                <dd><em>None</em></dd>
              </dl>

            </md-content>
          </div>

          <!-- Web Archives -->
          <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
            <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
              <h3 style="margin:0px">CRAWL WEB ARCHIVES</h3>

              <div class="disclaimer">
                <div class="disclaimer-header">/!\ EXPERIMENTAL /!\</div>
                <div class="text">This is an experimental feature: you should understand that crawling web archives is necessarily much slower since all crawls will query only one same server.</div>
              </div>

              <dl class="key-value-pairs">
                <div ng-hide="options.webarchives_option !== ''">
                  <dd style="min-height: 22px">{{ webarchives_chosen_option.label }}</dd>
                </div>
                <div ng-hide="options.webarchives_option === ''">
                  <dt>Source</dt>
                  <dd style="min-height: 22px">{{ webarchives_chosen_option.label }}</dd>

                  <dt>Date to try to approach</dt>
                  <dd style="min-height: 22px">{{ options.webarchives_date }}</dd>

                  <dt>Delay to consider before and after the date</dt>
                  <dd style="min-height: 22px">{{ webarchives_days_range_display }}</dd>
                  <div style="text-align:center">
                    <small ng-show="ed_webarchive_daysrange_choice !== 'infinity'"><em>{{ webarchives_mindate }} &#x2794; {{ webarchives_maxdate }}</em></small>
                    <b ng-show="ed_webarchive_daysrange_choice === 'infinity'"><em>&infin;</em></b>
                  </div>
                </div>
              </dl>

            </md-content>
          </div>

          <!-- REDIRECTION DOMAINS -->
          <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
            <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
              <h3 style="margin:0px">REDIRECTION DOMAINS</h3>
              <dl class="key-value-pairs" ng-if="options.follow_redirects.length>0" style="max-height: 200px; overflow-y: auto; margin: 5px;">
                <dd ng-repeat="domain in options.follow_redirects" >{{domain}}</dd>
              </dl>

              <dl class="key-value-pairs" ng-if="!options.follow_redirects.length>0">
                <dd><em>None</em></dd>
              </dl>

            </md-content>
          </div>

          <!-- WEBENTITY CREATION RULES -->
          <div flex="100" layout="column" style="padding: 4px">
            <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
              <h3 style="margin:0px">WEBENTITY CREATION RULES</h3>
              <dl class="key-value-pairs" ng-if="creationrules.length>0">
                <dt>Default Creation Rule</dt>
                <dd>{{options.defaultCreationRule}}</dd>
                <dt>Creation Rules</dt>
                <dd ng-repeat="rule in creationrules" ng-if="$index>0">{{rule.domain}} : {{rule.type}}{{rule.https ? ' (https)' : ''}}</dd>
              </dl>

              <dl class="key-value-pairs" ng-if="!creationrules.length>0">
                <dd><em>None</em></dd>
              </dl>

            </md-content>
          </div>
        </div>
      </div>

        <!-- Content: destroying -->
        <div
          layout-fill
          layout="column"
          layout-align="center center"
          ng-if="destroying"
          style="background-color: #000; color: #FFF"
        >
          <img src="img/destroy.gif">
          PLEASE WAIT DURING DESTRUCTION
        </div>

        <!-- Content: resetting -->
        <div
          layout-fill
          layout="column"
          layout-align="center center"
          ng-if="resetting"
          md-colors="{'background': 'default-warn-50'}"
        >
          PLEASE WAIT DURING RESET...
        </div>

      </div>
    </div>
  </div>
</div>
