<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1>
              SETTINGS
            </h1>
          </div>

          <div>
            <md-button
              class="md-raised md-warn"
              ng-click="resetCorpus()"
            >
              <md-icon>delete</md-icon>
              RESET
            </md-button>

            <md-button
              class="md-raised md-warn"
              ng-click="destroy()"
            >
              <md-icon>delete_forever</md-icon>
              DESTROY CORPUS
            </md-button>
          </div>

          <div style="padding: 4px" layout-wrap layout="row">
            
            <!-- Crawling -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">CRAWLING</h3>
                <dl class="key-value-pairs">

                  <dt>Maximum Depth</dt>
                  <dd>{{options.max_depth}}</dd>

                  <dt>Startpages mode</dt>
                  <dd>{{options.defaultStartpagesMode | arrayToString}}</dd>

                </dl>

              </md-content>
            </div>

            <!-- Proxy -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px" ng-if="options.proxy.host">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">PROXY</h3>
                <dl class="key-value-pairs">

                  <dt>Host</dt>
                  <dd>{{options.proxy.host}}</dd>

                  <dt>Port</dt>
                  <dd>{{options.proxy.port}}</dd>

                </dl>

              </md-content>
            </div>

            <!-- Cautious Crawl -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">CAUTIOUS CRAWL</h3>
                <dl class="key-value-pairs">

                  <dt>Timeout</dt>
                  <dd>{{options.phantom.timeout}}</dd>

                  <dt>Ajax Timeout</dt>
                  <dd>{{options.phantom.ajax_timeout}}</dd>
                  
                  <dt>Idle Timeout</dt>
                  <dd>{{options.phantom.idle_timeout}}</dd>

                </dl>

              </md-content>
            </div>

            <!-- CAUTIOUS DOMAINS -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">CAUTIOUS DOMAINS</h3>

                <dl class="key-value-pairs" ng-if="options.phantom.whitelist_domains.length>0">
                  <dd ng-repeat="domain in options.phantom.whitelist_domains" >{{domain}}</dd>
                </dl>

                <dl class="key-value-pairs" ng-if="!options.phantom.whitelist_domains.length>0">
                  <dd><em>None</em></dd>
                </dl>

              </md-content>
            </div>

            <!-- REDIRECTION DOMAINS -->
            <div flex="50" flex-xs="100" flex-gt-sm="33" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">REDIRECTION DOMAINS</h3>
                <dl class="key-value-pairs" ng-if="options.phantom.follow_redirects.length>0">
                  <dd ng-repeat="domain in options.phantom.follow_redirects" >{{domain}}</dd>
                </dl>

                <dl class="key-value-pairs" ng-if="!options.phantom.follow_redirects.length>0">
                  <dd><em>None</em></dd>
                </dl>

              </md-content>
            </div>

            <!-- WEBENTITY CREATION RULES -->
            <div flex="100" layout="column" style="padding: 4px">
              <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
                <h3 style="margin:0px">WEBENTITY CREATION RULES</h3>
                <dl class="key-value-pairs" ng-if="creationrules.length>0">
                  <dd ng-repeat="rule in creationrules" >{{rule.domain}} : {{rule.type}}{{rule.https ? ' (https)' : ''}}</dd>
                </dl>

                <dl class="key-value-pairs" ng-if="!creationrules.length>0">
                  <dd><em>None</em></dd>
                </dl>

              </md-content>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>