<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">

          <div class="page-header">
            <h1 class="word-break" md-truncate>
              <span md-colors="{'color': 'default-primary'}">
                <md-icon class="md-primary">folder</md-icon>
                Explore as folders:
              </span>
              {{webentity.name || 'loading'}}
            </h1>
          </div>

          <div flex layout="column" layout-align="center center" ng-if="loading">
            <spinner></spinner>
          </div>

          <div flex layout="column" ng-if="!loading">
            <div layout="row" md-colors="{'background': 'default-background-200'}" layout-align="start center">

              <md-button class="md-primary" aria-label="Home" ng-disabled="path.length == 0" ng-click="goTo()">
                <md-icon>home</md-icon>
                Web entity
              </md-button>

              <div ng-repeat="obj in path track by $index" layout="row">
                <md-icon>chevron_right</md-icon>
                <md-button class="md-icon-button" aria-label="{{obj.label}}" ng-disabled="path.length == 0" ng-click="goTo(obj.node)" ng-disabled="path.length == $index+1">
                  {{obj.label}}
                </md-button>
              </div>

              <div flex></div>

              <md-button class="md-icon-button" aria-label="Link" ng-href="{{pathUrl}}" ng-if="pathUrl != ''">
                <md-icon>link</md-icon>
              </md-button>
            </div>

            <div layout="row" style="height: 48px" ng-if="pathUrl != ''">
              <md-button class="md-raised" ng-click="goToParent()">
                <md-icon>arrow_back</md-icon>
                BACK
              </md-button>
              <div flex></div>
              <md-button
                class="md-raised"
                ng-if="creationRuleLoaded && creationRule == null"
                ng-click="addWECreationRule()"
              >ADD A RULE TO SPLIT THIS IN DIFFERENT WEB ENTITIES</md-button>

              <md-button
                class="md-raised md-warn"
                ng-if="creationRuleLoaded && creationRule != null"
                ng-click="removeWECreationRule()"
              >REMOVE WEB ENTITY CREATION RULE</md-button>
            </div>

            <div flex ng-if="item_list.length > 0">
              <md-virtual-repeat-container layout-fill>
                <md-list>
                  
                  <div ng-repeat="item in item_list">

                    <!-- Type: title -->
                    <md-toolbar ng-if="item.type=='title'">
                      <div class="md-toolbar-tools">
                        <h3>
                          <span>{{ item.label }}</span>
                        </h3>
                      </div>
                    </md-toolbar>

                    <!-- Type: prefix -->
                    <md-list-item
                      ng-if="item.type=='prefix'"
                      class="md-2-line"
                      ng-click="goTo(item.node)"
                    >
                      <md-icon class="md-avatar-icon">work</md-icon>
                      <div class="md-list-item-text">
                        <h3>
                          {{ item.label }}
                        </h3>
                        <p>Prefix</p>
                      </div>
                    </md-list-item>

                    <!-- Type: folder -->
                    <md-list-item
                      ng-if="item.type=='folder'"
                      class="md-2-line"
                      ng-click="goTo(item.node)"
                    >
                      <md-icon class="md-avatar-icon">folder</md-icon>
                      <div class="md-list-item-text">
                        <h3>
                          {{ item.label }}
                        </h3>
                        <p>Folder ({{ item.subtype_explicit }})</p>
                      </div>
                    </md-list-item>

                    <!-- Type: page -->
                    <md-list-item
                      ng-if="item.type=='page'"
                      class="md-2-line"
                    >
                      <md-icon class="md-avatar-icon">description</md-icon>
                      <div class="md-list-item-text">
                        <h3>
                          <a href="{{item.url}}" target="_blank" title="Open in a new tab">
                            <md-tooltip md-direction="left">Open URL in a new tab</md-tooltip>
                            <md-icon>link</md-icon>
                          </a>
                          {{ item.label }}
                        </h3>
                        <p>Page ({{ item.subtype_explicit }})</p>
                      </div>
                    </md-list-item>

                  </div>
                </md-list>
              </md-virtual-repeat-container>
            </div>

            <div flex ng-if="webentity_list.length > 0" md-colors="{'background':'default-background-200'}">
              <md-virtual-repeat-container layout-fill>
                <md-list>
                  
                  <md-list-item class="md-2-line" ng-repeat="item in webentity_list">
                    <div class="md-list-item-text">
                      <h3>{{ item.label }}</h3>
                      <p>External web entity prefix</p>
                    </div>
                  </md-list-item>

                </md-list>
              </md-virtual-repeat-container>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>