<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">
          <div class="page-header">
            <h1 class="word-break">
              {{webentity.name}}
            </h1>
            <span class="md-subhead">
              Explore and edit this <span hyphe-glossary="web entity"></span>.
            </span>
          </div>

          <ul>
            <li>Prefixes (+ edit?)</li>
            <li>Other settings (Dates, crawling)</li>
            <li>Tags</li>
            <li>Pages -> List</li>
            <li>Pages -> As folders (change boundaries)</li>
            <li>Pages -> As network</li>
            <li>Pages -> Topological profile (most cited inside, outside...)</li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>