    <div class="container-fluid">
      <div class="row no-gutter" ng-include="'partials/topbar.html'">
      </div>
      <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-include="'partials/sidebar.html'">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          <div class="container-fluid main">
            <div class="row">
              <div class="col-md-12">
                <h1 class="word-break">
                  {{webentity.name}}
                </h1>
                <span class="text-info">Explore and edit this web entity</span>

                <br>
                <br>
                
                <webentity-tabs></webentity-tabs>

                <div class="container-fluid" ng-if="webentity && !webentity['loading']">

                  <div class="row no-gutter">
                    <div class="col-md-12">
                      <h3>Identity card</h3>
                      <br>
                    </div>
                  </div>
                  <div class="row no-gutter">
                    <div class="col-md-8">
                      <form editable-form name="editableForm" onaftersave="saveUser()">
                        <dl class="dl-horizontal dl-editable">

                          <dt style="opacity: 0.8;">ID</dt>
                          <dd style="opacity: 0.8;">
                            {{webentity.id}}
                          </dd>

                          <dt>Name</dt>
                          <dd>
                            <span editable-text="webentity.name" e-name="name" e-required>{{ webentity.name || 'empty' }}</span>
                          </dd>

                          <dt>Status</dt>
                          <dd>
                            <span editable-select="webentity.status" e-ng-options="s.value as s.text for s in statuses">
                              {{webentity.status}}
                            </span>
                          </dd>

                          <dt>Homepage</dt>
                          <dd>
                            <div class="url-container" editable-url="webentity.homepage" e-name="homepage" e-required>
                              <a href="{{webentity.homepage}}" target="_blank" title="Open in a new tab">
                                <span class="glyphicon glyphicon-link"></span>
                              </a>
                              <span class="url url-break">
                                <span>
                                  {{ webentity.homepage || 'empty' }}
                                </span>
                              </span>
                            </div>
                          </dd>

                          <dt></dt>
                          <dd>
                            <br>
                            <div class="buttons">
                              <!-- button to show form -->
                              <button type="button" class="btn btn-primary btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                EDIT
                              </button>
                              <!-- buttons to submit / cancel form -->
                              <span ng-show="editableForm.$visible">
                                <button type="submit" class="btn btn-primary btn-sm" ng-disabled="editableForm.$waiting">
                                  SAVE
                                </button>
                                <button type="button" class="btn btn-default btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                  CANCEL
                                </button>
                              </span>
                            </div>
                          </dd>
                        
                        </dl>

                      </form>
                    </div>

                    <div class="col-md-4">
                      <p>
                        <strong>Prefixes</strong>
                      </p>
                      <ul class="list-unstyled list-spaced">
                        <li ng-repeat="lru in webentity.lru_prefixes">
                          <div class="url-container">
                            <a href="{{lru|lru_to_url}}" target="_blank" title="Open in a new tab">
                              <span class="glyphicon glyphicon-link"></span>
                            </a>
                            <span class="url url-break">
                              <span>
                                {{lru|lru_to_url}}
                              </span>
                            </span>
                          </div>
                        </li>
                      </ul>

                    </div>
                  </div>

                  <div class="row no-gutter">
                    <div class="col-md-12">
                      <hr>
                      <h3>Crawling</h3>
                      <br>
                    </div>
                  </div>
                  <div class="row no-gutter">
                    <div class="col-md-8">
                      <dl class="dl-horizontal dl-editable">

                        <dt>Crawled</dt>
                        <dd>
                          {{webentity.crawled}}
                        </dd>

                        <dt>Harvesting</dt>
                        <dd>{{webentity['crawling_status']}}</dd>

                        <dt>Indexing</dt>
                        <dd>{{webentity['indexing_status']}}</dd>

                        <dt></dt>
                        <dd>
                          <br>
                          <button
                            class="btn btn-default btn-sm"
                            ng-click="reCrawl()"
                          ><span class="glyphicon glyphicon-repeat"></span> {{webentity['crawling_status'] != 'UNCRAWLED' ? 'RE' : ''}}CRAWL</button>
                        </dd>

                      </dl>
                    </div>
                    <div class="col-md-4">
                      <p>
                        <strong>Start pages</strong>
                      </p>
                      <ul class="list-unstyled list-spaced">
                        <li ng-repeat="url in webentity.startpages">
                          <div class="url-container">
                            <a href="{{url}}" target="_blank" title="Open in a new tab">
                              <span class="glyphicon glyphicon-link"></span>
                            </a>
                            <span class="url url-break">
                              <span>
                                {{url}}
                              </span>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row no-gutter">
                    <div class="col-md-12">
                      <hr>
                      <h3>Other</h3>
                      <br>
                    </div>
                  </div>
                  <div class="row no-gutter">
                    <div class="col-md-8">
                      <dl class="dl-horizontal dl-editable">

                        <dt>Created</dt>
                        <dd>{{webentity['creation_date']*1000|prettyDate}}</dd>

                        <dt>Last modified</dt>
                        <dd>{{webentity['last_modification_date']*1000|prettyDate}}</dd>

                        <dt>Cited by</dt>
                        <dd>{{webentity['indegree']}} other entities</dd>

                      </dl>
                    </div>

                  </div>
                </div>


              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
