<div layout="column" layout-fill>
  <div class="topbar-height" ng-include="'partials/topbar.html'">
  </div>
  <div flex>
    <div layout="row" layout-fill>
      <div class="sidebar-width" ng-include="'partials/sidebar.html'"></div>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: hidden;"
      >
        
        <!-- Content -->
        <div layout-fill layout="column">

          <div class="page-header">
            <h1 class="word-break" md-truncate>
              <md-icon>bubble_chart</md-icon>
              Pages network:
              {{webentity.name || 'loading'}}
            </h1>
          </div>

          <div flex layout="column" layout-align="center center" ng-if="loading">
            <spinner></spinner>
          </div>

          <div flex layout="column" ng-if="!loading" style="position: relative">
            <md-button
              class="md-fab md-primary"
              aria-label="Open network settings"
              style="position: absolute; right: 16px; top: 16px;"
              ng-click="toggleSidenav()"
            >
              <md-tooltip md-direction="left">Network Viz Settings</md-tooltip>
              <md-icon>layers</md-icon>
            </md-button>

            <sigma-network
              layout-fill
              network="network"
              download-network="downloadNetwork"
            ></sigma-network>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>



<!-- Side Nav -->
<md-sidenav
  class="md-sidenav-right"
  md-component-id="right"
  md-disable-backdrop
  md-whiteframe="4"
  md-is-open="true"
  ng-show="!loading"
>

  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 md-truncate flex>Network Viz Settings</h2>

      <md-button
        class="md-icon-button"
        ng-click="toggleSidenav()"
      ><md-icon>close</md-icon></md-button>
    </div>
    
  </md-toolbar>

  <md-content>
    <div
      layout="column"
      md-colors="{'background': 'default-background-200'}"
      style="padding: 8px"
    >
    <div
      style="padding: 8px"
      layout="column"
    >
      <p class="md-title">Key</p>
      (In progress)
    </div>
  </md-content>

</md-sidenav>